[2014-05-26 06:05] jamestwebber opened #1 "mzR installation is failing on OS X"
mzR fails to install on my machine (OS X Mavericks, R 3.1.0). I believe the requirements are all present and working, although I might be missing something that I don't know about. Here is a [gist of the output](https://gist.github.com/jamestwebber/6ef6a00679f48868803a) from when I try to install.

From searching around it looks like you know about and are working on this problem, just wanted to l

[2014-05-26 19:22] #1 closed, assigned to nobody

[2014-06-24 08:11] sneumann opened #2 "Re-instantiate ramp.R"
During the migration to a current boost and pwiz code,
the ramp.R / rampR.cpp interface got dropped. Get the code back in,
modify rampR.cpp to compile with new boost.

[code]

[2014-06-25 05:09] #2 closed, assigned to sneumann

[2014-06-25 05:14] sneumann opened #3 "restore readout of polarity with old Ramp interface"
As reported from Paul Benton:
"The latest mzR does not seem to be loading the polarity information with the loadRaw method."

Paul also provided a snippet which I modified into a unit test
mzR/inst/unitTests/runit.polarity.R-disabled

[2014-07-23 17:35] thirdwing opened #4 "duplicated items in getAllScanHeaderInfo()"
in the function getAllScanHeaderInfo(), there are several duplicated items like below:

      header.add("seqNum", seqNum);
      header.add("seqNum",                   seqNum);
      header.add("acquisitionNum",           acquisitionNum);
      header.add("msLevel",                  msLevel);
      header.add("polarity",               polarity);
      header.add("seqNum",                   seqNum

[2014-08-01 13:13] thomasp85 opened #6 "Error with openMSfile in RStudio"
The following error occurs when trying to load files using RStudio. The same files work fine with the regular R gui:

[code]

The problem has been observed with a range of files and on a range of systems (both mac and win). The problem is not constant (sometimes a file works in RStudio), but has only been observed using RStudio.

[2014-09-16 01:14] #6 closed, assigned to nobody

[2014-09-16 01:30] lgatto opened #7 "No close method for mzRident/mzRpwiz"
@thirdwing I notices that there was no `close` for `mzRident` objects. Wouldn't it be safer to explicitly close such an instance? Is there a reason not to have one?

[2014-09-21 16:19] lgatto opened #8 "segfault in psms"
The error initially happened with a bigger file (15 M) [1] in a more complex setup. The simplified example below systematically produces the segfault at the second call to `psm`. Below is a simple example with a small file (same as used in the `openIDfile` example). The number of iterations to get the error may vary.

[code]

This is not an isolated case; I stumbled on this several times with diff

[2014-09-21 18:00] #7 closed, assigned to nobody

[2014-09-21 18:02] sneumann opened #9 "close() missing for pwiz backend"
[code]

[2014-09-21 19:47] #9 closed, assigned to nobody

[2014-09-27 07:45] #8 closed, assigned to nobody

[2014-10-28 21:05] sneumann opened #10 "remove faahKO dependency"
This dependency is only to check CDF import, but introduces a cyclic
dependency mzR -> faahKO -> xcms -> mzR which can cause trouble.
msdata >= 0.3.5 contains ko15.CDF, mzR 2.0.1 should fix this.

[2014-10-30 18:44] lgatto opened #11 "Documenting system dependencies"
Dan's advice

[2014-11-01 22:04] #10 closed, assigned to sneumann

[2014-12-03 13:25] jj-umn opened #12 "Proteowizard has a newer version of src/pwiz/data/common/cv.cpp that includes PeptideShaker"

[2015-01-05 22:07] #4 closed

[2015-01-05 22:12] thirdwing commented on #12
Hi, @jj-umn ,

Can you give a little more info on this? If it is necessary, I can add it.

[2015-01-05 22:27] lgatto commented on #12
@jj-umn - Is this only/mainly a matter of control vocabulary?

[2015-01-06 02:16] jj-umn commented on #12
I think this is probably just an update to the controlled vocabulary.
I was very impressed with the speed with which mzR delivered results, but one of the sample mzIdentML files I needed to access was from PeptideShaker.  That is when I discovered that pwiz failed when encountering the CV for PeptideShaker.   The Proteowizard github page has a newer version of vocabulary.

[2015-01-06 16:30] lgatto commented on #12
Thanks for the clarification.
@thirdwing - do you think it would be enough to update `cv.cpp` or all files in `pwiz/data/common` rather then checking out the full code base?

[2015-01-06 16:58] thirdwing commented on #12
I will try it this weekend.

[2015-01-06 17:46] sneumann commented on #12
Please check the commit that changed could.cpp and look what other files where changed. Yours Steffen

[2015-01-14 18:08] lgatto commented on #12
@thirdwing did you have time to check?

[2015-01-14 18:09] lgatto commented on #3
Any updates for this issue?

[2015-01-14 18:10] lgatto opened #15 "Use spectra or scan instead of peaks"
Once respective generics have been added to `BiocGenerics`, allow `spectra()` and/or `scans()` in addition (instead of) `peaks(.)`.

[2015-01-14 20:34] thirdwing commented on #12
Sorry, @lgatto . Exams in following two days. I will find some time in weekend.

[2015-01-14 20:43] lgatto commented on #12
On 14 January 2015 21:34:42 CET, "Qiang Kou (KK)" <notifications@github.com> wrote:

No worries. Good luck for your exams!

[2015-01-23 08:17] adder opened #16 "mascot mzid file doesnt read"
When I try to read this file ( https://www.dropbox.com/sh/nuwvqlc9bvg0ui0/AABG_3cED_Dm-o8tmjBp8RpWa?dl=0 ) I get this error:
[code]

The file could be read succesfully with `mzID`

sessioninfo
[code]

[2015-01-23 11:30] lgatto commented on #16
Thanks for the report. I see you use Mascot version 2.3 and your mzid file is 1.0. The latest mzid version is 1.1, which is not compatible with 1.0.

I have done some tests locally with one of my `dat` result files; it was first exported using the same *old* Mascot to mzIdentML 1.0 and using a more up-to-date version of Mascot to mzIdentML 1.1, and I reproduce the error with the former

[code]
whi

[2015-01-23 11:38] thomasp85 commented on #16
It is quite horrible how x.1 versions of mzIdentML are incompatible… Have any of you looked into the proposal for 1.2? I hope it’s not equivalently messy…

[2015-01-23 11:46] lgatto commented on #16
Actually, I think 1.2 will include some substantial changes that will not be backwards compatible. From the relevant PSI mailing list:

[2015-01-23 11:49] thomasp85 commented on #16
great… I think I don’t get their versioning scheme on a very fundamental level. Oh well, it’s just numbers. Hope the data still fits into the mzID class format…

[2015-01-23 12:13] adder commented on #16
Hi, thanks for the information. I think there are some groups in the department that may have the latest mascot version.
Except for another export version, I guess there will also be some more substantial inprovements in 2.5. Else I just stick with `mzID` for import.

[2015-01-23 12:13] #16 closed

[2015-01-28 21:38] sgibb opened #17 "Add acquistionnum column to psms output"
Hello,

as investigated in https://github.com/lgatto/msidmatching/issues/2#issuecomment-38047074 the `acquistionnum`/`scan number` reported by `mzR` for mzML/mzXML files contains the same numbers as the `spectrumID` column in the `psms` output for mzIdentML files.

Would it be possible to add a `acquisitionnum` column to the `psms` output to allow easier matching of identification and quantitation

[2015-01-29 10:19] adder commented on #17
Just wanted to add that I also stumbled upon this inconvenience.
I had to rely on the assumption that the `spectrumID` reflects the order of the spectra in the mzml file. I'm not sure if this is always true.

[2015-01-29 10:30] adder opened #18 "segfault when retrieving ´score()´"
I get an segmentation fault when I'm trying to retrieve the `score()` from the folowing identifications with `mzR`. It works with all other files I tried. `psms()` works.

https://www.dropbox.com/s/lja86fwfa76okpb/d46e40d85d0cfff4___20080315_CPTAC6_22_6QC1.mzML.mgf.export.F113747.mzid?dl=0
[code]

Greets

[2015-01-29 14:39] thirdwing commented on #18
Thank you for reporting this. I will look into it.

[2015-02-02 10:50] lgatto commented on #17
I think it would be good to add an acquisition number to the `psms` output; I have also been confused in the past. To avoid any ambiguity, retrieving the information at the `C++` level and add a column to the `data.frame` seems the best option. @thirdwing, could you have a look at some point?

[2015-02-02 18:14] sgibb opened #19 "add protein length column to psms output"
The mzIdentML format offers an attribute "length" (stores the number of bases of a protein, e.g. `<DBSequence ... length="512">`). It would be nice if `psms` could return this attribute as additional column.

This is needed for some label-free quantitation algorithms in `MSnbase` (see e.g. https://github.com/lgatto/MSnbase/pull/48).

[2015-02-04 22:03] lgatto commented on #17
There is no acquisition number in an mzIdentML file. Looking in the [mzIdentML 1.1 specification](http://www.psidev.info/sites/default/files/mzIdentML1.1.0.pdf), section 5.1.3 on page. The regular expression suggested will work in most cases: Thermo, Waters, Bruker BAF.

@thirdwing: looking at the [`getPsmInfo`](https://github.com/sneumann/mzR/blob/master/src/RcppIdent.cpp#L116) method and the fol

[2015-02-04 22:59] lgatto commented on #19
Commit `bff67caa430980ed5e04e08240ece1bce945e536` adds a columns `DBseqLength` to the `psms` `data.frame`.

[2015-02-04 22:59] #19 closed

[2015-02-05 07:39] adder commented on #18
Just wanted to report that I also encountered this segmentation fault with other files.
For example with the first mzid file from this ftp site.

ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2014/11/PXD001421/

[2015-02-05 08:06] thomasp85 commented on #17
We had the same discussion when adding the column in mzID. Neither mzML nor mzIdentML has an aquisitionNum - it is entirely mzR based and derived from the spectrumID string. Usually it is scan=XXX, but not for all instruments - Agilent comes to mind.

See @sgibb PR #18 in mzID, for his solution…

[2015-02-05 09:35] lgatto commented on #17
I have pushed @sgibb's suggestion above, as it is the same fix as in `mzID`. There will be cases where this fails (consistently).

I still think extract the `scan number(s)` would be a good thing. Will try to get a go at it.

[2015-02-05 11:22] lgatto commented on #18
I confirm this bug with other files.

[2015-02-05 11:53] thomasp85 commented on #17
As far as I recall @sgibb employed the same conversion as in done when reading mzML files. So yes, it can fail, but only in cases where the raw data fails too. What would be nice to define in mzR context is, for each subterm of MS:1000767 (native spectrum identifier), how should the acquisitionNum be generated. In theory this could be a list of term-id/regex that could be used by both mzR and mzID

[2015-02-05 12:06] lgatto commented on #17
Sure, that would be great.

[2015-02-07 18:24] thirdwing commented on #18
No errors on my machine, 64-bit Linux.

[2015-02-07 19:31] lgatto commented on #18
Just keep scaling `score`:

[code]

[2015-02-07 19:45] thirdwing commented on #18
I get it now. I am afraid it is same reason with https://github.com/sneumann/mzR/issues/8 .

We shouldn't use ``ListBuilder``.

[2015-02-07 19:59] lgatto commented on #18
Can you avoid using `ListBuilder` as you did for the `psms` crashes in #8?

[2015-02-07 20:00] thirdwing commented on #18
Of course. Actually I will remove all code related to it.

[2015-02-07 20:01] lgatto commented on #18
Great, thanks!

[2015-02-07 21:31] thirdwing commented on #18
Please try my repo https://github.com/thirdwing/mzR-1

[2015-02-07 21:51] lgatto commented on #18
Yes, seems to work, thanks! Could you send a PR.

[2015-02-07 21:52] thirdwing commented on #18
Yes, after some more testing

[2015-02-08 10:02] #18 closed

[2015-02-19 00:52] lgatto opened #21 "mzR timeouts on Windows"
Recording a email exchange with @dtenenba re `mzR`, that often fails to install on windows within 40 minutes.

The suggestion by @thirdwing and @sneumann was to ship `libpwiz.a` for Windows in the package.

Has anyone time to tackle this at some point?

[2015-02-19 11:55] sneumann opened #22 "netCDF backend should implement runInfo() and instrumentInfo()"
We should implement something to at least return
some minimal information for:

[code]

Yours, Steffen

[2015-02-20 18:45] sneumann opened #23 "warning: control may reach end of non-void function from clang++ in Serializer_pepXML.cpp"
http://bioconductor.org/checkResults/devel/bioc-LATEST/mzR/morelia-checksrc.html

[code]

[2015-02-20 19:03] sneumann commented on #23
closed in 043fb42c330d3ee23a5a54fb6a56b1b3562b80a6

[2015-02-20 19:03] #23 closed

[2015-02-21 00:42] thirdwing commented on #21
Just try to compile the ``libpwiz.a``. Very easy work, however, it is more 80MB.

[2015-02-21 01:23] dtenenba commented on #21
So the current .zip file is 10MB and adding libpwiz.a would make it 90MB?

Is that because the static build would include things that are not normally included in the mzR dll? Is there any way the source could be pruned?

Anyway, if this is not too difficult I'd like to test it, would it be possible to create a github branch that uses the static libpwiz on windows? I would like to see how much of

[2015-02-21 01:25] thirdwing commented on #21
Give me a little time.

I made a mistake. We don't need the whole pwiz library, we just need a part
of it.

On Fri, Feb 20, 2015 at 8:23 PM, dtenenba <notifications@github.com> wrote:

--
Qiang Kou
qkou@umail.iu.edu
School of Informatics and Computing, Indiana University

[2015-02-21 01:26] lgatto commented on #21
I created the `staticwin` branch for testing.

[2015-02-21 01:49] thirdwing commented on #21
Hi, @lgatto , can you add me as a collaborator of this project? Then I can push to the branch.

[2015-02-21 01:58] lgatto commented on #21
@thirdwing No, I'm afraid not; I don't have rights to do so.

[2015-02-21 04:15] thirdwing commented on #21
@dtenenba @lgatto  please try my repo https://github.com/thirdwing/mzR-1

[2015-02-21 10:39] lgatto commented on #21
Checks fine on my linux.

@thirdwing could you document in this issue or directly in ` src/Makevars.win` how `src/win/i386/libpwiz.a` and `src/win/x64/libpwiz.a` were generated.

[2015-02-21 11:20] sneumann commented on #21
Done.

[2015-02-21 14:20] sneumann commented on #21
Sorry, "done" was ambiguous, and here referring to adding KK to the repo.

[2015-02-21 17:00] thirdwing commented on #21
@lgatto  Of course I will provide how to compile ``libpwiz``, we need to make sure it can pass ``R CMD check`` first.

[2015-02-21 19:27] thirdwing commented on #21
The source code and ``Makefile`` to build ``libpwiz.a`` is at https://github.com/thirdwing/libpwiz

[2015-02-21 19:31] sneumann commented on #21
Great. Can we put the Makefile as e.g. Makefile.createlibpwiz into mzR/src itself,
so that this can be used to recreate libpwiz.a from within mzR source package ?
Then there is no danger to have it out of sync

[2015-02-21 19:32] lgatto commented on #21
I was about to ask the same questions.

[2015-02-21 19:36] thirdwing commented on #21
I have just send a PR. If it can pass the Bioconductor check, I will merge everything related into the ``mzR`` package.

[2015-02-21 23:05] #22 closed

[2015-02-22 18:07] lgatto commented on #21
Let's keep the issue open so we don't forget to add the `libpwiz.a` building instructions.

[2015-02-22 20:52] sneumann commented on #21
Right Laurent. I just checked on my Windows installation,
and can't reproduce the build failure http://bioconductor.org/checkResults/devel/bioc-LATEST/mzR/moscato2-install.html

[code]

[2015-02-22 21:30] lgatto commented on #21
@dtenenba any idea?

[2015-02-22 23:05] dtenenba commented on #21
None.

[2015-02-22 23:11] dtenenba commented on #21
@sneumann can you post the sessionInfo() on the machine you are trying to built it on and the command you are using? Mine is

[code]

[code]

[2015-02-23 00:04] dtenenba commented on #21
Also, if you run

[code]

How large is the resulting zip file?

[2015-02-24 06:53] sneumann commented on #21
Hi Dan,

If I run R.exe CMD INSTALL --merge-multiarch --build mzR_2.1.10.tar.gz
the resulting ZIP is 3.997.599 mzR_2.1.10.zip. I can try to find a 64bit build environment
later this week, but on the 64bit BioC machines it is already the 32bit part that breaks,
which works over here.

Yours,
Steffen

my > sessionInfo() is:

R version 3.1.0 (2014-04-10)
Platform: i386-w64-mingw32/i386 (32-bit)

loca

[2015-02-24 19:22] dtenenba commented on #21
It looks like the problem is the git svn bridge. libpwiz.a does not exist in svn, only git. I will work on resolving this.

[2015-02-24 19:34] dtenenba commented on #21
Those files are in svn now. Sorry about the glitch.

[2015-02-24 20:01] thirdwing commented on #21
Let's hope it can pass all the testing. Then I will merge how to build ``libpwiz.a`` into this repo.

[2015-02-26 18:03] dtenenba commented on #21
It works! Thanks everyone!
Dan

[2015-02-26 18:12] lgatto commented on #21
Great!

[2015-03-01 00:02] thirdwing commented on #21
The ``Makefile`` to build ``libpwiz`` is merged into https://github.com/sneumann/mzR/tree/libpwiz

[2015-03-01 23:33] lgatto commented on #21
Thanks, KK. Closing the issue now.

[2015-03-10 22:08] dtenenba commented on #21
I hate to mention it but after updating R-devel on the build machines yesterday, mzR is timing out during INSTALL again on Windows. http://bioconductor.org/checkResults/devel/bioc-LATEST/mzR/moscato2-install.html

[2015-03-10 22:09] thirdwing commented on #21
OK. I will look into it.
On Mar 10, 2015 6:08 PM, "dtenenba" <notifications@github.com> wrote:

[2015-03-16 20:38] sneumann commented on #21
Hi,

with the current gcc492 toolchain both the recent build errors
and the timeouts are gone.

just for the record, Windows build time is around 1400secs,
which is remarkable since the other arches compile waay more
source files.

Anyway, mzR is looking good for the coming release, afaics.
Thanks everyone for the efforts,

Yours,
Steffen

On Di, 2015-03-10 at 15:09 -0700, Qiang Kou (KK) wrote:

-

[2015-03-23 21:09] sneumann commented on #21
We are back on a timeout after the build system reverted to the old toolchain.

@dtenenba : I request an exemption for mzR to the timeout rule, as the problem
will go away when the gcc492 toolchain will be used again. I somehow suspect
that the linking stage takes so long, since we eliminated the majority of compilations
by providing the prebuilt pwiz library. Or, we eliminated all but the most ti

[2015-03-23 21:22] lgatto commented on #21
`mzR` is not the only package that suffers from timeouts on Windows. [`MSnbase`](http://bioconductor.org/checkResults/3.1/bioc-LATEST/MSnbase/moscato2-checksrc.html), [`rpx`](http://bioconductor.org/checkResults/3.1/bioc-LATEST/rpx/petty-buildsrc.html) has the same problem (which I am unable to reproduce locally), and none has C/C++ code (although this has just changed for the former) and do not t

[2015-03-23 21:23] dtenenba commented on #21
There might be an issue with the build system. If you look at http://bioconductor.org/checkResults/devel/bioc-LATEST/mzR/moscato2-install.html and scroll to the bottom, it looks like the installation process completes, yet it is still marked as a TIMEOUT.
And packages that depend on mzR did not fail, which they typically do when mzR does not really install.

@lgatto : curiously all these packages

[2015-03-23 21:40] lgatto commented on #21
@dtenenba is it really only my packages?!?!

[2015-03-23 21:44] dtenenba commented on #21
@lgatto no. On windows rpx does not time out, there are 3 others besides mzR and MSnbase. rpx is timing out on Snow Leopard. I'll take a look at that. @sneumann I'm not sure how straightforward it would be to add an exemption to the build system. I'll have to look into it.

[2015-03-23 21:47] lgatto commented on #21
@dtenenba yes, indeed... whenever I see a timeout, I blame Windows ;-)

[2015-03-23 22:15] sneumann commented on #21
@dtenenba is there any way to estimate which command is consuming the majority of the build time ?

We had the situation with "looks-like-it-actually-completed-in-time" before:
[code]
Yours,
Steffen

[2015-03-24 05:47] dtenenba commented on #21
Just by running the install command manually and watching.
Sometimes when you install a package it pauses after it says * DONE (mzR) before returning to the command prompt. If 2400 seconds rolls around at that moment then we'd see what we saw today, the build report marked as a TIMEOUT but mzR successfully installed.

[2015-03-25 22:13] sneumann commented on #21
Just for the record, we're down to 1500secs on todays build. Closing for the next few days ...

[2015-03-30 06:44] sneumann commented on #21
Back to 2500sec timeout.

[2015-03-30 19:36] sneumann commented on #21
Given that mzR INSTALLs on other machines in 550/650/400 seconds,
and that mzR compiled on Windows in 1500secs on 25.03.2015
and even "only" 1400secs on 16.03.2015 with the gcc492 toolchain,
I don't see a chance how we can further optimize mzR
beyond the inclusion of the precompiled libpwiz.a
which we did in february, and which didn't really address
the actual problem:

It seems that indeed the li

[2015-03-30 19:37] sneumann commented on #21
Response from Dan:

I installed this on moscato2. Can mzR be changed so that it uses this ld and ar? I set an environment variable ULDAR to point to the directory where this ld and ar are installed so you can refer to it in your Makevars/configure scripts/etc.

If you like you can try building it with the single package builder, or just change it and see how it does during the nightly builds.

Tha

[2015-03-30 19:37] sneumann commented on #21
I will try to update CFLAGS to  -Wl,--dynamic-linker=<path to linker>
as mentioned in http://www.unix.com/programming/122374-gcc-choose-my-own-linker.html

[2015-04-02 22:14] sneumann commented on #21
we have been below 2000s for a few days now.

[2015-04-10 07:15] sneumann commented on #21
Down to 1000s on windows. I will close for now.

[2015-05-08 07:12] sneumann opened #25 "Link warning outdated"
Reported by Emma Schymanski:

Is the mzR warning message out of date?
[code]
-> this points people to the mailing list, whereas now they should visit the support site?
https://support.bioconductor.org/

[2015-05-08 08:37] lgatto commented on #25
What version of Bioc, what platform?

[2015-05-08 08:54] sneumann commented on #25
https://github.com/sneumann/mzR/blob/e5ccb9c8239746d66c3d0ee83c9ac7ce92c49d89/R/zzz.R.in#L9

Question is should we point people to bioc-devel or the new BioC support site ? I am not monitoring the latter.

[2015-05-08 08:55] lgatto commented on #25
I'll update to point to support site. I get emails when somebody posts a question about any package I maintain.

[2015-05-08 09:06] lgatto commented on #25
I mean what platform/Bioc version is Emma working on? A quick look on the servers that biold Bioc 3.1 and 3.2 packages indicate that `Rcpp` 0.11.6 should be used.

[2015-05-08 09:17] lgatto commented on #25
The warning will disappear at the next build.

[2015-05-08 09:17] #25 closed

[2015-05-08 09:32] lgatto commented on #25
Also fixed in Bioc 3.1.

[2015-05-08 09:35] lgatto opened #26 "convertion CSV to mzXML"
Posting @sneumann's code, for reference.

[code]

[2015-05-08 09:35] #26 closed

[2015-07-21 02:26] SimionKreimer opened #27 "Compilation of mzR fails"
Hi can't figure out what's wrong. I

[code]

[2015-07-21 07:05] sneumann commented on #27
Can you give details?
OS,  compiler, ...
Yours Steffen

---
I blame Android for the brevity and typos

---- SimionKreimer schrieb ----

Hi can't figure out what's wrong. I

biocLite("mzR")
BioC_mirror: http://bioconductor.org
Using Bioconductor version 3.1 (BiocInstaller 1.18.3), R version
3.2.0.
Installing package(s) ‘mzR’
trying URL 'http://bioconductor.org/packages/3.1/bioc/src/contrib/mzR_2.2.

[2015-07-21 07:32] SimionKreimer commented on #27
I'm running Antergos (Arch Linux 64 bit), I'm using make 4.1 and I have the latest Rcpp package and NetCDF 4.3.3.1. Any other details of interest?

[2015-07-21 07:37] sneumann commented on #27
Compiler?

---
I blame Android for the brevity and typos

---- SimionKreimer schrieb ----

I'm running Antergos (Arch Linux 64 bit), I'm using make 4.1 and I have the latest Rcpp package and NetCDF 4.3.3.1. Any other details of interest?

—
Reply to this email directly or view it on GitHub<https://github.com/sneumann/mzR/issues/27#issuecomment-123199122>.

[2015-07-21 07:43] SimionKreimer commented on #27
GCC 5.1

[2015-07-22 01:20] SimionKreimer commented on #27
Is the boost not compatible with gcc5.1? If I downgrade to gcc4.8 would I be able to compile mzR?

[2015-07-22 07:24] sneumann commented on #27
Hi,  downgrading gcc might help.
I am on vacation and can't really help now.
Yours Steffen

[2015-07-22 12:32] lgatto commented on #27
I have gcc version 4.8.4 and GNU Make 3.81 (don't think the latter is the issue, though). I would give it a go with a downgraded gcc.

[2015-09-05 06:30] SimionKreimer commented on #27
I get a GOMP_4.0 not found error when I downgrade to 4.8 and then R doesn't run at all. So downgrading doesn't work.

[2015-09-07 22:21] lgatto commented on #27
It is a bit surprising that by downgrading gcc, another software stops working. The GOMP not found error should be easy to fix, though.  On my debian-based system
[code]
would probably solve it.

[2015-09-08 05:48] SimionKreimer commented on #27
There is no libgomp package in Archlinux. This is the error I get:
[simion@simion-samus ~]$ R
/usr/lib64/R/bin/exec/R: /usr/lib/libgomp.so.1: version `GOMP_4.0' not found (required by /usr/lib64/R/lib/libR.so), when I downgrade gcc. libgomp.so.1 is part of the gcc library, and the file is in the correct folder.

[2015-09-08 06:01] SimionKreimer commented on #27
I downgraded to gcc 4.9.2 and that compiled the package and also didn't throw the GOMP_4.0 error, seems like the way to go for Arch Linux.

[2015-09-08 06:33] lgatto commented on #27
Do you have `libgomp.so.1` somewhere? You could create a symbolic to accommodate the error above. Or, better, what about re-installing R with the new gcc?

[2015-10-20 10:11] lhedjazi opened #28 "mzR.so: undefined symbol: _intel_fast_memcpy"
Dear all,
I am unable to install mzR package due to "undefined symbol: _intel_fast_memcpy" . I am including the whole error and my sessionInfo() below. I have followed all the discussion about the issues with mzR and tried to re-install mzR in different ways (e.g. indicating the mirror site, from source) but the problem persists. I will be grateful to get some guidance on how to solve this issue.

[2015-10-20 10:36] lgatto commented on #28
I assume this is the output from `biocLite("mzR")`.

What compiler are you using?

[2015-10-20 10:46] lhedjazi commented on #28
Thanks for your reply,
Yes this is the output of |biocLite("mzR") but I tried also to install
previous versions and also from source: same error.|
Using compiler gcc version 4.3.4
I am trying to run it on a cluster on which I don't have root access.

Many thanks,
Lyamine

Le 20/10/2015 12:36, Laurent Gatto a écrit :

--
Lyamine Hedjazi (PhD)
ICAN Institute for Cardiometabolism And Nutrition
Pierre

[2015-10-20 10:46] lhedjazi commented on #28
Thanks for your reply,
Using compiler gcc version 4.3.4
I am trying to run it on a cluster on which I don't have root access.

Many thanks,
Lyamine

Le 20/10/2015 12:36, Laurent Gatto a écrit :

--
Lyamine Hedjazi (PhD)
ICAN Institute for Cardiometabolism And Nutrition
Pierre & Marie Curie Medical School
75013 Paris - France
tel: +33 (0)1 40 77 98 51
ICAN conference series <http://ican-institute.o

[2015-10-20 11:03] lgatto commented on #28
Here are some hopefully useful instructions I found that might be relevant

This [link](http://hpchcl.blogspot.co.uk/2013/12/how-to-resolve-undefined-reference-to.html) also suggest to use `-lintlc`.

I would suggest you get in touch with your sysadmin.

[2015-10-20 12:48] lhedjazi commented on #28
Thanks a lot for your help.
I will contact my sysadmin with your suggestions.

Best,
Lyamine

Le 20/10/2015 13:03, Laurent Gatto a écrit :

--
Lyamine Hedjazi (PhD)
ICAN Institute for Cardiometabolism And Nutrition
Pierre & Marie Curie Medical School
75013 Paris - France
tel: +33 (0)1 40 77 98 51
ICAN conference series <http://ican-institute.org/>

---
L'absence de virus dans ce courrier électroni

[2015-10-20 12:48] lhedjazi commented on #28
Thanks a lot for your help.
I will contact my sysadmin with your suggestions.

Best,
Lyamine

Le 20/10/2015 13:03, Laurent Gatto a écrit :

--
Lyamine Hedjazi (PhD)
ICAN Institute for Cardiometabolism And Nutrition
Pierre & Marie Curie Medical School
75013 Paris - France
tel: +33 (0)1 40 77 98 51
ICAN conference series <http://ican-institute.org/>

---
L'absence de virus dans ce courrier électroni

[2015-11-22 15:15] chrishuges opened #29 "Add ionInjectionTime to header output"
Hi,

Is it possible to add the functionality to extract the ionInjectionTime tag data from the header in converted Thermo files? It is stored in the scan header data along with the other details extracted with this function:

For example:

<scan num="9333"
     msLevel="3"
     scanEvent="0"
     masterIndex="-1"
     peaksCount="34"
     ionInjectionTime="38.6763"
     elapsedScanTime="0.13659"

[2015-11-23 13:17] lgatto opened #30 "pwiz version"
Is the pwiz version recorded somewhere in the `mzR` package, possibly in `./srz/pwiz`? I would suggest to make it somehow available to developers/users.

[2015-11-23 13:27] lgatto commented on #29
@chrishuges - could you share two small mzML and mzXML files to test this. Is this data only present for MS3 scans?

[2015-11-23 13:57] chrishuges commented on #29
Hi,

I posted two mzXML files here: https://drive.google.com/open?id=0BwsJqOzp2I7SalZ3SDVGcHZQX1E

The ionInjectionTime tag will be present in all scans in an Orbitrap raw file.

Thanks!

[2015-11-23 14:23] lgatto commented on #29
Could you also add an `mzML` files - we need to make sure that things work for all (at least these two) cases.

[2015-11-23 14:43] chrishuges commented on #29
Yes no problem. I have dropped one there now. It is a bit bigger so will take a few minutes to upload.

[2015-12-11 03:27] egemenaydin commented on #27
I got the same output with the one in the first massage in a Ubuntu 15.10 computer with gcc 5.2.1. I tried to install through github and it worked. There may be a problem with the bioconductor built.

R version 3.2.2 (2015-08-14)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 15.10

Here is my workaround:

install.packages("devtools")
library(devtools)
install_github("sneumann/mzR")

[2015-12-11 10:02] lgatto commented on #27
Thanks for this @egemenaydin, this is good to know.

[2015-12-14 20:59] thirdwing commented on #27
Hi, guys.

I just met a similar problem and personally I believe it is the incompatibility of GCC5.

[2015-12-14 21:19] lgatto commented on #27
thanks @thirdwing - any suggestion as to what we can do?

[2015-12-18 15:13] thirdwing commented on #27
Sorry for the late reply. No suggestions for now. But it should work if everything is compiled by GCC5.

[2015-12-23 15:04] hh1985 opened #31 "raw data reading"
Just curious, can mzR be extended to support the reading of vendor raw files?

[2015-12-23 15:46] thomasp85 commented on #31
In theory yes, as protowizard supports it. But practically probably no as it would only work on Windows but worse, including vendor libraries would impose additional license agreements to mzR

[2015-12-23 16:04] thirdwing commented on #31
Agree with @thomasp85 .

[2015-12-23 16:08] hh1985 commented on #31
Thank you all for the reply!  I was thinking about ways like letting the user install proteowizard program first, and letting R package to access the installed dll, but it seems difficult to achieve in R:(

[2015-12-23 16:37] lgatto commented on #31
That would actually be quite easy using `system()` and feeding it whatever system command you want to be executed.

[2015-12-23 18:06] sneumann commented on #31
Hi hh1985,

as Laurent said, it is possible
And indeed I have been hoping for many years for some brave windows hacker to try this.

We will not be able to have this in the
Standard Bioconductor build, but as a first step you could try to hack this and provide a README.vendor<http://README.vendor> which explains the procedure.

You could try to put your own
mzR.dll<http://mzR.dll> target into the

[2015-12-23 18:47] hh1985 commented on #31
Hi Steffen and Laurent,

Thanks for the suggestions.
I used to compile proteowizard into libraries (.lib and .dll), and let my
test c++ program to extract information directly from vendor raw files. It
would be much more convenient if everything can be finished through R! This
case is different, but I will do some googling based on your information,
and see if there's any way:)

Regards,

-Han

On

[2015-12-23 20:02] rmflight commented on #27
As of R 3.2.2, bioconductor 3.2, on Fedora 22 with gcc 5.3.1, compiling from Bioconductor fails, but compiling via `install_github` works.

[2015-12-24 14:52] sneumann commented on #31
Back on a "real" keyboard :-)

As you see here: http://bioconductor.org/checkResults/devel/bioc-LATEST/mzR/zin2-buildsrc.html
the final linking for x64 is done on windows with
````g++ -m64 -shared -s -static-libgcc -o mzR.dll tmp.def cramp.o ramp_base64.o ramp.o RcppRamp.o RcppRampModule.o rnetCDF.o RcppPwiz.o RcppPwizModule.o RcppIdent.o RcppIdentModule.o R_init_mzR.o rampR.o -L./win//x64 -lws2_3

[2015-12-24 18:00] hh1985 commented on #31
Hi Steffen,

Thanks a lot!  I can get a lot of .lib files
ibpwiz_data_msdata.lib
libpwiz_data_msdata_mz5.lib
libpwiz_data_msdata_version.lib
libpwiz_utility_minimxml.lib
libpwiz_version.lib
libhdf5.lib
libhdf5pp.lib
libpwiz_data_vendor_readers.lib
libpwiz_data_common.lib
libpwiz_tools_common.lib
libpwiz_analysis_common.lib
libpwiz_analysis_passive.lib
libpwiz_analysis_passive_core.lib
libpwiz_anal

[2015-12-24 18:53] sneumann commented on #31
Libpqiz.dll<http://Libpqiz.dll> shows my ignorance how development on Windows works...

---
I blame Android for the brevity and typos

[2015-12-26 03:45] hh1985 commented on #31
It seems we're getting close!  I successfully used a hello world test program (e.g. main.exe from g++) to read thermo raw files. It requires a lot of tricks to squeeze the dll file from proteowizard project. In order to get a fully functional dll, I have to write a whole C layer for all functions.

![capture](https://cloud.githubusercontent.com/assets/7053284/12005016/0372c20c-ab56-11e5-9fed-fe195

[2015-12-26 08:05] sneumann commented on #31
Hi, so you decouple the mingw compiled mzR.dll<http://mzR.dll> from the (presumably) visual studio compiled Libpwiz.dll<http://Libpwiz.dll> via a layer of c code?  I don't think that is maintainable. Or did you use your main.exe<http://main.exe> to
Test how to link against libpwiz?

What breaks if you just use
The g++ -shared...  Line I sent earlier?
And use -L to point to where pool pwiz
Was comp

[2015-12-26 16:32] hh1985 commented on #31
Hi Steffen,

I was not even there. I wrote a simple C wrapper for the pwiz part, and get
the dll. Only two functions there, one is for reading, and the other for
writing.

The name mangling is a big issue for g++ to recognized dll from msvc. The
only practical way I've found is to add a C layer. But the namespace, class
and all other C++ features are gone, and client code needs to use the new C
fu

[2016-01-11 21:47] lgatto commented on #30
I assume this means no?

[2016-01-11 21:47] lgatto commented on #28
Closing for now. Please re-open if necessary.

[2016-01-11 21:47] #28 closed

[2016-01-11 23:14] lgatto opened #32 "Crash with pwiz backend on Windows"
`mzR` is [crashing](http://www.bioconductor.org/checkResults/3.3/bioc-LATEST/ProteomicsAnnotationHubData/moscato2-buildsrc.html) on windows when the `pwiz` back-end is used. The code works fine on other systems and using the `Ramp` back-end on Windows. The problem is that this does not happen on every system. The bug has been confirmed with other `mzML` files.
### Reproduce the bug

[code]

or, wi

[2016-01-13 04:38] thirdwing commented on #30
It is possible http://sourceforge.net/p/proteowizard/code/HEAD/tree/trunk/pwiz/pwiz/Version.hpp

When checking out using svn, a Version.cpp can be generated.

see https://github.com/mzdb/pwiz-mzdb/blob/master/pwiz/Version.cpp as an example

[2016-01-13 09:08] lgatto commented on #30
Thanks.

[2016-01-14 14:44] thirdwing commented on #32
I can have a try this weekend. Please wait.

[2016-01-18 21:48] lgatto commented on #32
@thirdwing any luck?

[2016-01-22 22:32] thirdwing commented on #32
Sorry for this. Really no time these days.

On Mon, Jan 18, 2016 at 4:48 PM, Laurent Gatto <notifications@github.com>
wrote:

--
Qiang Kou
qkou@umail.iu.edu
School of Informatics and Computing, Indiana University

[2016-01-29 08:01] sneumann commented on #21
From Dan:
Please set the environment variable ULDAR to point to this ld and ar as I requested in
https://github.com/sneumann/mzR/issues/21#issuecomment-87802019

[2016-02-04 18:19] sgibb commented on #29
I would prefer a solution in mzR but in the meantime you can use the following work-around (it is stupid because the file is parsed twice):
[code]

[2016-02-23 00:35] #30 closed

[2016-02-29 10:25] meowcat opened #34 "Installing from source with the gcc 4.9.3 toolchain"
Hi,

I am trying to set up an R installation built with the new toolchain based on gcc 4.9.3. See https://github.com/rwinlib/r-base#readme

My mzR installation fails. There is a seemingly endless stream of "undefined reference" message, but the one I see recurring is:

[code]

My Rcpp is built from source (like everything for the 4.9.3 build).

Is this a problem from my side or a possible issue wi

[2016-02-29 12:42] sneumann commented on #34
Hi Michele,
./win//x64/libpwiz.a is the statically built library using the old toolchain.
Ideally, you should be able to build a new one with the new toolchain
using https://github.com/sneumann/mzR/blob/master/src/Makefile.libpwiz
@thirdwing is our Windows wizard, he might be able to help in case of issues.
Yours, Steffen

[2016-02-29 14:29] meowcat commented on #34
Thanks, got it to work.

[2016-02-29 14:50] thirdwing commented on #34
The static library is built using GCC 4.6.3

[2016-03-02 14:53] thirdwing commented on #21
We have the timeout problem again.

http://bioconductor.org/checkResults/release/bioc-LATEST/mzR/moscato1-install.html

[2016-03-02 17:20] sneumann commented on #21
Yes,  I am a bit clueless here.

I added to use the ULDAR linker,
A while ago,
Which is supposedly faster.

My only idea would be to try
To compile the static library
Optimised for quick linking,
But I would not know how.

The other architectures finish
In under ten minutes /including/
The compilation....

[2016-03-02 17:36] dtenenba commented on #21
Note that @thirdwing is referring to the release builds; was the release branch updated to use the ULDAR linker? Also, is there any way to tell from the build output whether the package is **actually** using that linker?

[2016-03-02 20:38] sneumann commented on #21
Ah, right Dan. actually, the issue is present on both release *and* devel.
Release is using the standard LD while devel uses -Wl,--dynamic-linker=c:/uldar/ld.exe

Both finish INSTALL with "DONE (mzR)" and still time out.

Release finished BUILD OK, while on devel also BUILD times out, even though its
output looks identical to release end they end with:

* building 'mzR_2.4.0.tar.gz'
* building 'mz

[2016-03-02 22:08] dtenenba commented on #21
@sneumann I will look into that.

[2016-03-07 13:21] mikecheng1987 opened #35 "compiler/linker issue with Rcpp"
Hi there,

I have been trying to re-install a package which has a lot of dependencies including "Rcpp" and "mzR". However, it seems that the current version of "mzR" (2.4.0) has compiler/linker issue with "Rcpp" (either version 0.12.2 or 0.12.3 which is most up-to-date). Below is the error messages along with session information when I load version 0.12.2 of "Rcpp". In my other slower machine, "mz

[2016-03-07 13:31] lgatto commented on #35
As I told you on the support site:

[code]

The new version, 2.4.1 is apparently not available yet - please try again with that out once it get build. You can also build yourself, if you don't want to wait.

[2016-03-09 19:47] #35 closed

[2016-03-30 23:31] dtenenba commented on #21
@sneumann @thirdwing @lgatto

Sorry to bring this up again, but we are again planning to switch to the gcc-4.9.3-based toolchain for the release of R-3.3.0. So I need to rebuild libpwiz.a. It seems the way to build it is:

[code]

That produces libpwiz.a. But how do I know if that is for i386 or x64, and whichever one it is, how do I build the other one?

Thanks.

[2016-03-30 23:50] thirdwing commented on #21
Hi, @dtenenba

I don't have the time to test new toolchain. I spent some time in packing the toolchain with other people.

As I remember, there is no cross-compiling option in the new one. Let me have a check.

[2016-03-31 00:12] dtenenba commented on #21
@thirdwing I just need to know how to build libpwiz.a for both i386 and x64, on windows.

[2016-03-31 00:15] thirdwing commented on #21
Sorry that I used the wrong word. I mean the multiarch support.

In the GCC4.6.3 toolchain, if you add `-m64` flag, then it will produce the lib for x64. `-m32` is for i386.

[2016-03-31 00:58] dtenenba commented on #21
@thirdwing Can you specify exactly where I should use the -m64  and -m32 flags in the Makefile? What changes should i make to it for each sub-architecture? I apologize for my ignorance but I don't know how to do this.

I did try to build both libraries using the following technique:

[code]

Then I tried to install mzR as follows:

[code]

The i386 portion of the install was successful but the x64

[2016-03-31 01:03] thirdwing commented on #21
Using the old toolchain, I just add `-m32` into this line https://github.com/sneumann/mzR/blob/master/src/Makefile.libpwiz#L4

The multiple definition of `strncasecmp` is more like one problem in the toolchain.

[2016-03-31 02:08] dtenenba commented on #21
@thirdwing  OK. We will need to solve this as soon as possible. The package will need to build with the new toolchain as that is what R-3.3.0 will use.

If you can get it to build with the new toolchain that would be great.
[Here](https://github.com/Bioconductor/Bioconductor/blob/master/documentation/new-toolchain-setup.md) are some instructions for setting up & developing with the new toolchain.

[2016-03-31 14:08] thirdwing commented on #21
I am afraid I may not have time to fix this until the weekend. But I will try.

[2016-03-31 17:18] axelmuller commented on #6
Hi,
I have a similar mzR & Rstudio problem. My problem appears to be constant and non-random though. Every time I run openMSfile() a fatal error occurs and the R session gets aborted. However, when running R from the terminal mzR works fine.

thanks for your help,
Axel

the output for sessionInfo() is:

R version 3.2.3 (2015-12-10) -- "Wooden Christmas-Tree"
Copyright (C) 2015 The R Foundation for

[2016-04-04 13:23] sneumann opened #36 "multiple definition of `strncasecmp' with the new toolschain"
Hi, currently we have build issues on the windows machine of the build farm
for both http://bioconductor.org/checkResults/devel/bioc-LATEST/mzR/moscato2-buildsrc.html
and http://bioconductor.org/spb_reports/mzR_2.5.5.1_buildreport_20160404074007.html

Somehow, two the *.o from both *.c files (rnetCDF.c and R_init_mzR.o) include
the symbols from the stdlib, thus linking them results in `multiple de

[2016-04-07 17:19] kasperdanielhansen commented on #36
Have the static libraries in `src/win` been rebuild using the new toolchain?

[2016-04-07 22:04] dtenenba commented on #36
It is not too hard to set up a windows build environment, the instructions are at:

https://github.com/Bioconductor/Bioconductor/blob/master/documentation/new-toolchain-setup.md

I attempted to update the static libraries in `src/win`, to answer @kasperdanielhansen 's question. But the maintainers of mzR should try it themselves.

I don't think making a change and then trying it in the single pack

[2016-04-11 04:36] dtenenba commented on #36
I worked on this a bit. I actually got mzR to install on i386 only. But had problems with x64, it seems to be the libnetcdf.a that is the problem. I tried both the original version that was there and also the one from [local323.zip](http://www.stats.ox.ac.uk/pub/Rtools/goodies/multilib/local323.zip). It seems like perhaps this library needs to be rebuilt from source under the new toolchain?

[2016-04-11 19:11] dtenenba commented on #36
Is there any documentation anywhere about how that libnetcdf.a file was built and how to rebuild it?

I don't have much more time to work on this...so I hope someone else can fix it. Otherwise our release will not include the proteomics stack on windows.

[2016-04-11 19:48] #27 closed

[2016-04-11 19:52] lgatto commented on #36
I think `libnetcdf.a` stem from the olden days; `netcdf` support was originally available in `xcms` and was later moved to `mzR` - @sneumann, you probably know.

[2016-04-11 20:05] kasperdanielhansen commented on #36
Could we get a bit more history here... Various R packages uses NetCDF and
I am guessing that at least some of them work on Windows.  Any reason for
not using this other stuff, or was it just not around when you made mzR or
? Seems to me that the sensible start is to figure out how other windows
packages uses libnetcdf and try to incorporate this.

On Mon, Apr 11, 2016 at 3:52 PM, Laurent Gatto <n

[2016-04-11 20:09] dtenenba commented on #36
I think that [ncdf4](https://cran.r-project.org/web/packages/ncdf4/index.html) is the main R interface to netcdf.

[2016-04-11 20:10] kasperdanielhansen commented on #36
Like on CRAN they use netcdf 4, and here is the package on the CRAN
winbuilder:
 http://win-builder.r-project.org/GPLcompliance/
and some notes from Ripley
 http://www.stats.ox.ac.uk/pub/Rtools/libs.html

Any reason for not starting with those; I assume Rnetcdf and ncdf4 (the two
CRAN packages with NetCDF) builds their support for NetCDF statically?

On Mon, Apr 11, 2016 at 4:04 PM, Kasper Daniel

[2016-04-11 20:14] sneumann commented on #36
Hi Kasper, you guessed right, as Laurent hinted, the embedded libnetcdf
comes from xcms around 2006 or 2007. Back then I cross-compiled
from Linux. See [1] for a historic post :-)

I just had a quick look at ncdf4, it has libnetcdf as SystemRequirements:

Yours,
Steffen

[1] https://groups.google.com/forum/#!topic/xcms-devel/fVdB85GxuZg

[2016-04-11 20:16] dtenenba commented on #36
Yes, they use the libnetcdf.a from [spatial324.zip](http://www.stats.ox.ac.uk/pub/Rtools/goodies/multilib/spatial324.zip), and both those packages install from source just fine on moscato2.

The above zip file is unzipped in `c:/local323` and the following is defined in
`$R_HOME/etc/$R_ARCH/Makeconf`:

    NETCDF = c:/local323 
  

[2016-04-11 23:06] dtenenba commented on #21
I could be wrong that the problem is with libnetcdf.a. I thought it was because of the `netCDF` in this output:

[code]

However, I renamed `src/win/x64libnetcdf.a` to `libnetcdf.a.bak` and got exactly the same error, so this means it could be a problem at the header level or it may have nothing to do with the library. This is yet another reason why it would be good for a maintainer to look at thi

[2016-04-11 23:50] kasperdanielhansen commented on #36
So why don't we try to use this one. Need some work on the Windows makevars file.

Best,
Kasper
(Sent from my phone.)

[2016-04-12 01:25] dtenenba commented on #36
Hoping more eyes can look at this. @mtmorgan @jimhester

[2016-04-12 03:39] kasperdanielhansen commented on #36
Im trying to get a virtual machine up and running, but its slow going.

Kasper

On Mon, Apr 11, 2016 at 9:25 PM, dtenenba <notifications@github.com> wrote:

[2016-04-12 19:08] jimhester commented on #36
I rebuilt ntcdf with the new toolchain using sources from http://www.stats.ox.ac.uk/pub/Rtools/goodies/sources/ and moved libnetcdf.a from that build to `src/win/{x64,i386}` which allows x64 builds to pass R CMD check on my machine, but the i386 builds are failing to load with the following error
[code]

Not sure what is going wrong, @dtenenba if you want to try with the recompiled libraries they

[2016-04-12 20:41] dtenenba commented on #36
Hi @jimhester , that sounds like progress!

I was able to get i386 to build but not x64, I get the same error as in the title of this issue (still).

Can you spell out exactly what you did to get x64 to build? Here is what I tried:

[code]

Since I got i386 to install, and you got x64 to install, I am hoping that if I can do the latter, we might have solved this....
Thanks.

[2016-04-12 20:54] dtenenba commented on #36
@jimhester Maybe you can email me your `src/win/x64/libpwiz.a` ? Then if that works we can discuss how you built that and make sure the process is documented.

[2016-04-12 21:52] jimhester commented on #36
@dtenenba I used the SVN mzR (and included libpwiz.a)

[2016-04-12 23:45] dtenenba commented on #36
@jimhester I did a fresh checkout from svn and copied over the netcdf files. I am still getting the same results with the x64 installation attempt. The i386 install still works though.

Would still be helpful I think to see exactly what you are doing. Thanks.

[2016-04-13 14:55] jimhester commented on #36
OK I just tried from fresh windows 10 VM and got the same results as I did previously

1. Download and install windows 10 from (https://www.microsoft.com/en-us/evalcenter/evaluate-windows-10-enterprise)
1. Install R-3.3.0beta from https://cran.r-project.org/bin/windows/base/R-3.3.0beta-win.exe
2. Install Rtools33 from https://cran.r-project.org/bin/windows/Rtools/Rtools33.exe
3. Install Bioconduct

[2016-04-13 19:05] kasperdanielhansen commented on #36
How about environment variables like path

Best,
Kasper
(Sent from my phone.)

[2016-04-13 19:33] jimhester commented on #36
Only environment variable I set was adding `C:/Rtools/bin` to the PATH. I did _not_ have to set `BINPREF`

[2016-04-13 19:36] dtenenba commented on #36
@jimhester I can reproduce your results exactly on a fresh Win10 VM (except I also had to install zlibbioc).

Unfortunately I still get the same results on moscato2, but maybe @kasperdanielhansen  is right that somehow the same DLL is on the PATH more than once, or it could be some other variable. I will look into it.
I also tried reinstalling all of mzR's dependencies (now that CRAN is providing

[2016-04-13 23:00] dtenenba commented on #36
OK, I was able to get x64 to build, by temporarily reverting to the original `etc/(i386/x64)/Makeconf` files.
Now I have to figure out what it is in those files that is causing the issue. One obvious guess would be the NETCDF variable But I can't just remove that from the `Makeconf` files, because other Bioconductor packages depend on netcdf. Maybe the libnetcdf.a just needs to be removed from mzR

[2016-04-14 00:05] dtenenba commented on #36
OK, rather than mess around with the settings on moscato2 which is a production build machine about to start a build, I figured out how to reproduce the problem on my VM. Hope some of you (particularly @jimhester ) can try these steps and help me figure out what is going on.

* Download [local323.zip](http://www.stats.ox.ac.uk/pub/Rtools/goodies/multilib/local323.zip)
* Download [spatial324.zip](h

[2016-04-14 01:36] hpbenton opened #37 "error reading mzML files from Sciex triple tof 6600"
When reading an mzML file from a sciex triple tof 6600 an error is produced :
Invalid cvParam accession "1002533"

This seems to be coming from the psi-ms.obo file which is in pwiz/common/psi-ms.obo . I've attempted to update the file directly and recompile mzR. This didn't seem to work and produced the same error.
I then tried the checkoutpwiz.sh and recompiled howver, mzR failed with multiple er

[2016-04-14 02:40] kasperdanielhansen commented on #36
So reading the various comments on the toolchain, it seems to me that
Ripley was responsible for the current pre-4.6.3 tool chain and someone
else (group) was responsible for the new pre-4.9.3 toolchain.  The
spatial343.zip file comes from stats.ox so I assume it was created by
Ripley.  My guess is that the Netcdf library contained in this zip file
(and probably everything else) was build using th

[2016-04-14 02:46] dtenenba commented on #36
You are correct about the different people responsible for the different toolchains.

However, many system dependencies that worked with the old toolchain should, and in fact, do work with the new toolchain. It seems that all system dependencies that have only C code in them will work without being rebuilt (though I have found the following exceptions, sometimes just for a specific sub-architectur

[2016-04-14 02:57] kasperdanielhansen commented on #36
ah, now I understand a bit better.  You're saying the problem arises
because you have spatial324 installed on your system, and having that
installed and then installing mzR creates some kind of conflict between
spatial324::netcdf and mzR:netcdf, right?

In that case, and using the historical info above, we should really just
modify mzR to drop its bundled netcdf and use spatial324::netcdf instead.

[2016-04-14 03:08] dtenenba commented on #36
Your understanding is correct, or at least it's what I think is going on. Don't hesitate to contact me if you have questions as  you look into it. Thanks.

[2016-04-14 03:15] dtenenba commented on #36
At a glance I would say the Rnetcdf [Makevars.win](https://github.com/cran/RNetCDF/blob/master/src/Makevars.win) is more informative than the ncdf4 one.

[2016-04-14 03:32] kasperdanielhansen commented on #36
well, yeah, turns out spatial324 includes both libnetcdf and libnetcdf4 and
Rnetcdf uses libnetcdf and ncdf4 uses libnetcdf4.  So we need to figure out
which one is best for mzR.

Comments on this Steffen, Laurent?

On Wed, Apr 13, 2016 at 11:15 PM, dtenenba <notifications@github.com> wrote:

[2016-04-14 04:01] dtenenba commented on #36
Based on the contents of the [src/win/x64](https://github.com/sneumann/mzR/tree/master/src/win/x64) directory, I'd say mzR has been using libnetcdf.

[2016-04-14 04:14] kasperdanielhansen commented on #36
Dan, I have a build environment set up, I have replicated the mzR error and
I can install affxparser from source using the new GCC, so I should be set
to go.  Unlikely I will get much work done tomorrow, but given the current
state I am pretty confident I can fix this over the weekend.

On Thu, Apr 14, 2016 at 12:01 AM, dtenenba <notifications@github.com> wrote:

[2016-04-14 08:17] lgatto commented on #36
Yes, that seems to be the right one.

[2016-04-14 13:39] jimhester commented on #36
Ok I can reproduce the error multiple definition errors as well if I setup `LOCAL_SOFT` as you describe. They can be fixed by removing the `-D_MSC_VER` define from `Makevars.win`
[code]

Also if you are using netcdf from `LOCAL_SOFT` it can be removed completely from `src/win/{x64,i386}/` without issue.

The vector allocation issue on 32bit remains open however.

[2016-04-14 15:51] dtenenba commented on #36
Thanks so much @jimhester -- it works! Unfortunately I am now getting the i386 issue on moscato2 whereas I wasn't before. I wonder if removing the `-D_MSC_VER` somehow triggers that. So now we need to figure that out. See [above](https://github.com/sneumann/mzR/issues/36#issuecomment-209057120) for the exact message.

Does anyone have any thoughts on that?
Again, 32-bit R on windows cannot use mor

[2016-04-14 18:39] dtenenba commented on #36
I was talking to @mtmorgan about this and he suggested that it might be useful for someone to:

* Install mzR under i386 with the `--no-test-load` flag so that the install succeeds
* Run `gdb` under 32-bit R so we can see where that long vector is being allocated.

I'm not sure I have the chops to debug C++ code like this, but someone else might want to.
There are some [instructions for running gd

[2016-04-14 19:17] dtenenba commented on #36
Just noticed something interesting. The package BubbleTree is failing in the latest build report:

https://bioconductor.org/checkResults/devel/bioc-LATEST/BubbleTree/moscato2-checksrc.html

The error is:

[code]

Notice that the length of the vector it is trying to allocate is EXACTLY the same as what we see [above](#issuecomment-209057120) when trying to install mzR for i386.
BubbleTree itself do

[2016-04-14 19:41] dtenenba commented on #36
What's interesting is that CRAN's build system does not seem to have this issue, (even though moscato2 and both Jim's and my VM's have it) because I can install the binary version of multicool and it loads fine under i386, but if I try and build it from source, it fails. Reported this to Rcpp:

https://github.com/RcppCore/Rcpp/issues/462

[2016-04-14 19:58] kasperdanielhansen commented on #36
One thing I'll try to address is that the way mzR uses Rcpp is not what is currently recommended, as far as I can see; I'm not an Rcpp expert. This is probably because Rcpp changes so fast and mzR has not been updated. Anyway, worth keeping in mind.

Best,
Kasper
(Sent from my phone.)

[2016-04-14 20:00] dtenenba commented on #36
OK, so leaving aside the issue that we can't update to the latest Rcpp because it isn't available on CRAN,  I tried building mzR under the latest Rcpp from github and got a **different** error:

[code]

Also, I'd like to try following Dirk's suggestion that mzR explicitly use C++11, not sure how to make that happen? Is it just a matter of adding `C++11` to the `SystemRequirements` field in the `DE

[2016-04-14 22:18] dtenenba commented on #36
OK, just checked into svn a version of mzR that installs under both architectures (I think, need to confirm tonight) **if** you are running the latest Rcpp from github. Of course we need this to be in CRAN to really help us, they say it will go in before the R.3.3 release but it would be nice to clean up our build report before that.

@mtmorgan What do you think of putting the latest Rcpp in our e

[2016-04-15 02:48] kasperdanielhansen commented on #36
Thanks Dan,

In this case I think you need to put the Rcpp fix on the build servers. As
I understand this thread and the Rcpp issue Dan filed, basically Rcpp is
broken on Windows right now.  And they don't intend to push a release until
right as R is released - probably because they are working on their own
problems.  If we don't push Rcpp to the build servers there could be
windows problems we do

[2016-04-15 16:41] dtenenba commented on #36
@kasperdanielhansen , I tend to agree in principle but Rcpp needs to pass check before I do that. We'd expect the same for any other CRAN or Bioc package. I am working with Rcpp folks over at https://github.com/RcppCore/Rcpp/issues/463 and I think we're getting close.

[2016-04-15 19:16] kasperdanielhansen commented on #36
I'm not going to argue with a requirement of passing R CMD check (well,
perhaps apart from man pages or something like that).

On Fri, Apr 15, 2016 at 12:41 PM, dtenenba <notifications@github.com> wrote:

[2016-04-15 19:25] dtenenba commented on #36
Rcpp now passes check! So I am in the process of putting it in our extra repos (for windows only) and verifying that mzR builds on both architectures. After that hopefully we can close this. Though mzR maintainers will need to be sure to merge recent changes from svn into github.

[2016-04-15 19:25] dtenenba commented on #36
Note that there will be no builds tonight but there will tomorrow night so hopefully we'll see a lot more green on Sunday.

[2016-04-15 19:45] dtenenba commented on #36
mzR now passes check on both architectures! Hopefully it and the packages that depend on it will be green on Sunday. Thanks everyone who helped out with this!

When the changes from svn are merged into master, this issue can be closed.

[2016-04-16 12:17] sneumann opened #38 "Compile error assigning to 'const char *' from incompatible type 'char' on Mac"
Hi,

This is easy to fix, and requires a fix in ramp.cpp
[code]

Will do after passing build on windows.
Yours, Steffen

[2016-04-16 23:14] sneumann commented on #37
Thanks for reporting. We'll have a look at updating the PSI CV in mzR,
we'll have to fix a few build issues first. Yours, Steffen

[2016-04-18 17:36] dtenenba opened #39 "latest mzR from svn fails to build on mac"
https://bioconductor.org/checkResults/devel/bioc-LATEST/mzR/morelia-install.html

[2016-04-19 09:04] sneumann commented on #39
Hi, this is a duplicate of #38 and fixed in 4949b521357d2659b1fe15740a940de167d5c84c
as shown on http://bioconductor.org/spb_reports/mzR_2.5.6.1_buildreport_20160419042726.html#morelia_buildsrc_anchor

[2016-04-19 09:04] #39 closed

[2016-04-19 17:22] dtenenba commented on #39
I can confirm that what's in svn now builds and checks on mac. Thanks!

[2016-04-20 22:26] dtenenba opened #40 "release mzR fails to install on debian with g++ 5.3.1-13"
`biocLite('mzR')` fails on R-3.2.4 revised on Debian Stretch with g++ 5.3.1-13.

You can reproduce this with docker as follows:

[code]

That will pull down the docker image  and start a container and a bash shell inside it. You can then do:

[code]

When I do this, the end of my output looks like the following.
This is blocking the creation of Bioconductor's proteomics docker container.

Here are

[2016-04-21 06:09] sneumann commented on #40
Hi, the boost-1.54 pre-dates gcc-5, hence some compilation issues.
The compilation error above was reported in "call_once: compile errors in variadic version with rvalue reference emulation" on https://svn.boost.org/trac/boost/ticket/10125
including a patch attached as https://svn.boost.org/trac/boost/raw-attachment/ticket/10125/call_once_variadic.patch which fixes the issue reported above.
I'll c

[2016-04-21 14:59] dtenenba commented on #40
Thanks. The spb won't help in this case as it is not running the configuration that causes the problem. However I provided you with a docker image which will reproduce the problem so I would use that.

[2016-04-21 15:00] sneumann commented on #40
Yes, and it works in the docker. I was checking for collateral damage,
and indeed the changes I did for gcc-5 will also require rebuilding
the pwiz.dll on windows:
http://bioconductor.org/spb_reports/mzR_2.4.1.1_buildreport_20160421034908.html#zin2_check_anchor

Yours,
Steffen

[2016-04-21 15:18] dtenenba commented on #40
Hmm, why is that? I already rebuilt the pwiz dll under the new toolchain. In any case, will you rebuild it this time?

[2016-04-21 15:21] sneumann commented on #40
But the docker link you gave was using the mzR-2.4.1 version in release.
Is that release using the old or new toolchain on windows ?
The current mzR-2.5.6/7 already has the gcc5 fix. Did I get something wrong ?
Yours, Steffen

[2016-04-21 15:25] dtenenba commented on #40
You're right, sorry, got confused.
The release builds are using the old toolchain.
So if the pwiz dlls indeed need to be rebuilt, it should be done under the old toolchain.

So I am not sure why you are (ab)using the single package builder, it runs the new toolchain....It seems like it would be much more efficient for you to just get a windows virtual machine and configure it however you like.

[2016-04-21 15:28] dtenenba commented on #40
Although there may be a similar issue in devel. The proteomics docker image is also not building in devel but I haven't had a chance to find out why. It could be the same issue. I'll try and have a look soon.

[2016-04-21 21:19] sneumann commented on #40
Hi, I can confirm that mzR_2.5.7 works on bioconductor/devel_base
(after apt-get install  libnetcdf-dev ) out of the box. Yours, Steffen

[code]

[code]

[2016-04-21 21:37] dtenenba commented on #40
Thanks, that saves me some time. So what is the status of this issue (release problem on debian)?

[2016-04-22 12:02] sneumann commented on #40
I have a patch in a branch that fixes it, but can't git push to github:
[code]
This branch fixes the problem in bioconductor/mzrprob. I could just git svn dcommit
to release-3.2, but I can't test under windows, and SBP with the new toolchain
a the problem. Shall I dcommit and we'll see ?

Yours,
Steffen

[2016-04-22 15:25] dtenenba commented on #40
No. Set up a windows test environment. VMs are free. https://modern.ie

[2016-04-22 19:48] sneumann commented on #40
Commit worked from home now, was a firewall issue.
@thirdwing , do you have a chance to check the branch below
on a R-3.2 with the old windows toolchain ?
https://github.com/sneumann/mzR/tree/fixIssue40

That would be great,
yours,
Steffen

[2016-04-25 06:17] sneumann commented on #37
Hi Paul,
The file that would have to be backported from a newer pwiz
is https://github.com/sneumann/mzR/blob/master/src/pwiz/data/common/cv.hpp (and cv.cpp)
e.g. from https://sourceforge.net/p/proteowizard/code/HEAD/tree/trunk/pwiz/pwiz/data/common/cv.hpp#l7893
It could be that the conversion from psi-ms.obo -> cv.hpp is not done during build,
but only by the pwiz folks somehow.
Can you try copyin

[2016-04-27 18:32] dtenenba commented on #40
It's too late to push to svn now, release builds have stopped and commits to the release branch are disabled.

[2016-05-10 21:59] hpbenton commented on #37
Hi Steffen,

Sorry for the delay on this. I put the new cv.hpp file into the directory and try to load the file again. Still got the same error though :(

Best,
Paul

[2016-05-11 04:16] thirdwing commented on #37
@hpbenton Can you share a small part of your file to reproduce the error?

[2016-05-11 04:38] hpbenton commented on #37
Sure but can you email me directly as the file/ dataset isn't mine. I can share a file or two with you via Dropbox or from if you email me.

Cheers

Paul

Sent from my mobile

[2016-05-11 19:23] thirdwing commented on #37
This can be fixed by using the latest version of pwiz.

[code]

[2016-05-11 19:30] sneumann commented on #37
Wow, cool. Can you also put a small description of how to update to current pwiz'es
somewhere in the mzR documentation ?  Maybe we could have a hackers guide
including the pre-compilation of the windows pwiz.dll

[2016-05-11 19:39] lgatto commented on #37
Shouldn't we upgrade to the latest pwiz?

[2016-05-11 19:39] thirdwing commented on #37
This branch (https://github.com/sneumann/mzR/tree/pwiz_upgrade/) has the latest version of pwiz.

No time for Windows now.

[2016-05-11 20:08] hpbenton commented on #37
Yep can confirm. Latest git works with triple toe 6660 mzML files. Thanks guys :)
Cheers,
Paul

[2016-05-12 09:07] sneumann commented on #37
Hi,
I just committed an attempt at recompiling the windows lib.
Can somebody please r cmd check
On Windows, the r instalation I'm using still can't do that.
Yours Steffen

---
I blame Android for the brevity and typos

---- Qiang Kou (KK) schrieb ----

This branch (https://github.com/sneumann/mzR/tree/pwiz_upgrade/) has the latest version of pwiz.

No time for Windows now.

—
You are receiving thi

[2016-05-15 03:20] thirdwing commented on #37
http://bioconductor.org/spb_reports/mzR_2.5.3_buildreport_20160514210445.html#moscato2_buildsrc_anchor

The building error is the same with #36

[2016-05-19 10:01] wookietreiber commented on #40
I have had the same error. What worked for me was to edit `src/Makevars` and add the following line:

[code]

---

I'm using GCC 5.2.0 at the moment.

[code]

[2016-05-28 13:18] sneumann commented on #37
Hi, I'd like to merge the pwiz_upgrade tree, but have to admit
that I miserably failed. I did git checkout devel, git svn rebase,
and then tried to git merge pwiz_upgrade and got swamped
by merge conflicts. I hereby declare I am defeated by git :-(
and need help. Yours, Steffen

[2016-05-28 15:12] thirdwing commented on #37
I think you can just merge https://github.com/sneumann/mzR/pull/41

[2016-05-28 17:14] #38 closed

[2016-05-28 17:15] thirdwing commented on #37
@sneumann I manually merged everything (including changes in master branch) into https://github.com/sneumann/mzR/tree/pwiz_upgrade

If this branch works, please merge it into devel and master

[2016-06-01 13:51] #3 closed

[2016-06-01 13:51] #21 closed

[2016-06-29 17:09] mvinaixa opened #44 "Support of ion mobility mzML"
Hi,

currently mzR dies on ion mobility data with
`Invalid cvParam accession "1002476"
`
where 1002476 is "ion mobility drift time"
http://www.ebi.ac.uk/ols/ontologies/ms/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMS_1002476
using mzR_2.4.1
yours, Maria and Steffen

Please find an example data file https://www.dropbox.com/s/7m3hdw010twyun1/naringinMSlevel1.mzML?dl=0

[2016-06-30 09:13] sneumann commented on #44
Hi, here is a reduced file, with just the first two retention times, and 50 ion mobility scans each
[naringinMSlevel1.mzML.txt](https://github.com/sneumann/mzR/files/341092/naringinMSlevel1.mzML.txt)

[2016-06-30 15:56] lgatto commented on #44
@sneumann - is this not *onlyy* a matter of updating pwiz in `mzR`?

[2016-07-05 09:36] infB opened #45 "mzR fails to install on debian with g++ (Ubuntu 5.3.1-14ubuntu2.1) 5.3.1"
Installation of the mzR Package in R fails, because the mzr/src/Makevars script uses MAC specific parameter of the g++ compiler (-Wno-deprecated-register).

ERROR:
....
At global scope:
cc1plus: warning: unrecognized command line option ‘-Wno-deprecated-register’
....

A bugfix for me was the replacement of the -Wno-deprecated-register parameter with -Wno-deprecated (mzr/src/Makevars, line 105). T

[2016-07-13 14:42] stanstrup opened #46 "Ionization polarity not right (source file from agilent)"
Not sure if this belongs with XCMS or mzR but seems mzR doesn't get it right.

I have an mzML file (sample: https://drive.google.com/file/d/0BzbMKsT1SFGiUzVQNzhSM3VjRXc/view?usp=sharing) converted from agilents .d format with proteowizard.
I am trying to determine the ionisation polarity.

If I do:

[code]

I just get `-1`'s. But this file is positive mode. XCMS reports `unknown`.

In the mzML fil

[2016-07-18 16:03] rmflight opened #47 "read data from file handles or connections"
From what I can tell, mzR (and MSnBase, etc) all expect fully qualified file names.

It would be great to have methods that support `connections` from files, gzfiles, zip files, url's, etc.

[2016-07-18 16:06] rmflight commented on #47
I'll expand as to my motivation:

We are writing an analysis pipeline for metabolomics that uses a zip file as the container to keep all of the raw and textual data together for an analysis. So being able to supply the `connection` to the *mzML* or *netCDF* file from the zip file generated by `unz` would be really handy.

My current solution is to create a *tmp* directory and `unzip` everything th

[2016-07-18 16:09] lgatto commented on #47
What function are you referring to specifically? Probably `openMSfile`, but anything else?

[2016-07-18 16:15] lgatto commented on #47
By the way, I like your use case. Just out of curiosity, is there any overhead of accessing different files or the same files multiple times through the connection created by `unz` vs unzipping it once and then accessing multiple times?

[2016-07-18 16:18] rmflight commented on #47
I see `openMSfile`, and then the `netCDFOpen`, I think. Right now I'm depending mostly on `xcmsRaw` to do the right thing for me and load my data, and I'm pretty sure it uses `netCDF*` for `mzML` files.

[2016-07-18 16:22] rmflight commented on #47
As far as overhead between `unz` vs unzip into a directory, I haven't looked. It may be that doing the unzip once would be better. Currently, however, we probably only need a single read, our data files are relatively small (<= 100Mb, un-centroided).

For larger file sizes, it might make sense to do one unzip, and then access pieces using the new methods in `MSnBase`. But that should be up to the

[2016-07-20 08:40] sneumann commented on #47
Hi, my only idea to implement a connection would be to download/unzip the raw data to $TMP for non-plain files. The RAMP and pwiz backend both use proteowizard C++ code in the end, they want
to have random access (and implement that e.g. for indexed mzML files). That also has the issue
of cleaning up afterwards. Also, in case of a cluster, you might have shared scratch filesystems,
where the unzip

[2016-07-20 16:40] rmflight commented on #47
hmmm, ok. If everything is accessed by pwiz on the backend and it expects a
file to enable random access, then I'll take care of the file in $TMP
myself, and worry about dealing with a file handle myself for consistency
with other methods I'm writing.

Thanks for the explanation Steffen.

-Robert

On Wed, Jul 20, 2016 at 4:40 AM sneumann <notifications@github.com> wrote:

[2016-07-29 19:21] sneumann commented on #45
Hi, yes, confirmed. Also breaks windows build
http://bioconductor.org/checkResults/release/bioc-LATEST/mzR/zin2-checksrc.html
[code]

[2016-07-30 15:34] sneumann commented on #45
The non-portable compiler switch was removed in mzR-2.7.1 in commit
c568e1b8ebbd92885a051d2b06d0a452e3ba4913 and the boost code was fixed,
while in release-3.3 in SVN commit r119743 for mzR-2.6.3 i use `-Wno-deprecated` now.

[2016-08-02 09:28] wilsontom commented on #46
I am also observing this behaviour after converting Thermo .raw files to .mzML _via_ proteowizard

Tom

[2016-08-25 07:21] jotsetung opened #48 "File handles are not closed for backend pwiz"
Apparently, the file handles are not closed for `backend = "pwiz"`:

[code]
Throws the error:
[code]

[2016-08-25 08:43] lgatto commented on #48
@thirdwing - could you check this, please.

[2016-08-25 15:10] thirdwing commented on #48
I think I know how to fix this, but I am really busy this week.

On 08/25/2016 04:43 AM, Laurent Gatto wrote:

[2016-08-25 15:23] lgatto commented on #48
If you could share your thoughts, I could try to have a look. Otherwise, next week is no problem at all. Thanks.

[2016-08-25 17:17] jotsetung commented on #48
@thirdwing @lgatto : I think I fixed it! I've implemented the `close` method for `mzRpwiz` objects (that did just return `TRUE` without doing anything). In the C++ code I implemented the `close` method to release all resources; there does not seem to be an explicit `close` function to be implemented in the `pwiz` code, so I think that's all what we can do. @thirdwing can you please check if that's

[2016-08-25 18:43] lgatto commented on #48
I see you implemented the same as for the `Ramp` backend. Looks good to me. @thirdwing, any comment?

[2016-08-25 18:46] thirdwing commented on #48
The problem is in
https://github.com/sneumann/mzR/blob/master/R/methods-mzRpwiz.R#L142

I don't know why I just put a placeholder for pwiz. We need to
explicitly call destructor or a close() method like
https://github.com/sneumann/mzR/blob/master/R/methods-mzRramp.R#L66

On 08/25/2016 02:43 PM, Laurent Gatto wrote:

[2016-08-25 18:48] lgatto commented on #48
@thirdwing - and that's exactly what @jotsetung has done in #49, as far as I can see.

[2016-08-25 18:57] thirdwing commented on #48
@jotsetung Sorry I missed your email.

@lgatto I think it is just what I thought.

[2016-08-25 18:59] lgatto commented on #48
Great, thanks.

[2016-08-25 21:10] #48 closed

[2016-08-26 05:51] jotsetung commented on #48
sorry to post to the closed issue... I was just wondering who will then push the changes also to the Bioconductor svn (and when).

[2016-08-26 06:42] lgatto commented on #48
I will, today.

[2016-08-26 07:46] lgatto commented on #48
Done
[code]

[2016-09-10 09:21] sneumann opened #50 "Compilation on tokay1 / Windows"
There is an installation issues on the upcoming build machines
at https://bioconductor.org/checkResults/3.4/RPCI/bioc-LATEST/ :

[code]

=> This is missing one of the `SystemRequirements: C++11, GNU make, NetCDF`,
namely NetCDF.

Yours, Steffen

[2016-09-10 09:29] sneumann opened #51 "Compilation fails on"
mzR has been having compilation failures on moscato1
(the old Windows builder in Seattle) since the 2.7.4 update about
2 weeks ago:
https://bioconductor.org/checkResults/3.4/bioc-LATEST/mzR/moscato1-install.html

[code]

These are undefined symbols because our Windows statically complied libpwiz.a
does not match the lib static-libgcc in the used toolchain on the BioC machines.
So 1) we need to rec

[2016-09-22 14:45] lgatto opened #52 "Crashes reported on bioc-devel"
From [[Bioc-devel] msPurity build fail on Mac OS X (morelia)](https://stat.ethz.ch/pipermail/bioc-devel/2016-September/009720.html), @mtmorgan offers the following patch.

[code]

It's not clear to me yet if this is really the reason for the reported problem, so I haven't applied it yet. I will once we get to the bottom of the `msPurity` problem.

[2016-09-22 15:10] mtmorgan commented on #52
I'd guess that there were many of these new / delete mismatches, and a little tedious to track down!

[2016-09-22 15:22] lgatto commented on #52
Are all `free` calls to be replaced by `delete`, or only some?

[2016-09-22 15:46] mtmorgan commented on #52
If the memory is allocated by `new()`, then it needs to be `delete`ed; if it's allocated by `malloc()`, then `free()`.

[2016-09-22 15:51] lgatto opened #53 "pwiz patches"
We should be able to identify all patches to `pwiz` code applied within `mzR` so that anyone can re-apply them or, better, we can automate them, if possible. I have created the `patch` label for this. I suggest we use it to tag issues and/or relevant pull request and possibly refer to these in this issue.

Cc: @thirdwing @sneumann @jotsetung

[2016-09-22 16:23] jotsetung commented on #52
These `new`-`delete` and `malloc`-`free` calls are pretty difficult to track in the code. I've tried that for some time as I was suspecting that these might cause some of the random errors we've got earlier (e.g. https://github.com/lgatto/MSnbase/issues/138).

[2016-09-22 18:33] jotsetung commented on #52
do you know of an automated or semi-automated way to check for similar problems in the code? Otherwise it might be quite a task to search for them.

[2016-09-22 18:37] lgatto commented on #52
Some file (like `cramp.*`, `ramp.*`) are very unlikely to change. `pwiz` changes should ideally be discussed and pushed upstream.

[2016-09-26 09:00] lgatto commented on #50
From Herve's email:
[code]

[2016-09-27 09:21] sneumann opened #56 "Rstudio package build and Rcpp::compileAttributes()"
Hi,
I am bitten by http://lists.r-forge.r-project.org/pipermail/rcpp-devel/2013-February/005233.html
resulting in the following error when trying to build in Rstudio:

[code]

The workaround suggested by JJ Allaire (http://lists.r-forge.r-project.org/pipermail/rcpp-devel/2013-February/005233.html) is:

[code]

Compiling without Rstudio simply on the command line works fine.
Yours, Steffen

[2016-10-11 21:25] sneumann opened #60 "warning: control may reach end of non-void function"
Hi,
clang on macOS is complaining with a WARNING about
[code]
in
https://github.com/sneumann/mzR/blob/master/src/pwiz/data/identdata/Serializer_pepXML.cpp#L1545

I guess the right return value at the end of the function should be `return true`

[2016-10-11 21:28] #60 closed

[2016-10-11 21:44] lgatto commented on #60
Should these fixes not be committed up-streams? Your fix will be overwritten next time we update pwiz, won't it?

[2016-10-15 16:27] thirdwing commented on #51
@sneumann I have tested the `compile_on_windows` branch on a 64-bit Windows 10 machine. It can compile and load successfully.

[2016-10-15 16:27] #37 closed

[2016-10-28 06:13] lgatto opened #61 "Update pwiz"
Recently, a [bug had been fixed in pwiz](https://sourceforge.net/p/proteowizard/mailman/message/35440534/) that now allows to correctly refer to an MS3 precursor. This is an essential feature for downstream analyses, requiring an update to pwiz/`mzR`.

I am happy to do this when I am back from my travelling, by would appreciate any indication to any [patches](https://github.com/sneumann/mzR/issues

[2016-11-01 16:39] videlc opened #62 "mzR cvParam accession error when reading PeptideShaker mzIdentML file"
Hey,

I am trying to open a mzid file generated by peptideshaker but when using the openIDfile command, i get this error message :
`Error: Invalid cvParam accession "1002458"`

By opening my mzid file and searching that accession, I get one line match :
`<cvParam cvRef="PSI-MS" accession="MS:1002458" name="PeptideShaker"/>`

Is there any way to fix this issue ?

Best regards,
Vivian

note : by loo

[2016-11-01 17:42] thirdwing commented on #62
Normally this kind of error is due to we are using an old version of pwiz. `PeptideShaker` hasn't been added then.

We are planning to upgrade the pwiz backend soon @lgatto

[2016-11-01 18:08] lgatto commented on #62
@videlc - I tested your `mzid` file with `mzR` earlier today and came to the same conclusion (see [here](https://github.com/thomasp85/mzID/issues/31) for background).

@thirdwing - yes, I think we need an update anyway, as mentioned in #61.

I will get get started tonight or tomorrow.

[2016-11-01 20:18] sneumann commented on #61
Hi Laurent, my approach in the past was to nuke the existing pwiz,
and checkout the current pwiz, see https://github.com/Bioconductor-mirror/mzR/blob/master/checkoutpwiz.sh#L15 .
Then I tried R CMD INSTALL to see where things brake. Ideally, this would just work
with the new checkout, but since code usually grows,
most breakage is due to missing checkouts. Those should be added to checkoutpwiz.sh

[2016-11-01 20:23] sneumann opened #63 "Unify Makevars files"
Hi, after #61 works on unixoid systems, we could re-unify
the Makevars and Makevars.win. The major differences are
in the definition of a few architecture-specific *.o files on Windows,
and a few platform specific compiler switches. Those could be handled
with a few Makefile if-statements. Yours, Steffen

[2016-11-02 16:07] lgatto commented on #61
Anyone any idea about this error?

[code]

Note that `src/boost/thread/once.hpp` is present.

[2016-11-02 16:13] sneumann commented on #61
Hi, for the *.o you also need corresponding *.c somewhere.

[2016-11-02 16:18] lgatto commented on #61
It's in another dir `./src/boost/thread/src/pthread/once.cpp`

[2016-11-02 16:27] sneumann commented on #61
ok, almost correct ... Also, this is a file that is only used in unixoid systems, Windows has a different thread model

[2016-11-02 21:18] lgatto commented on #61
After the following manual adjustments (but that can't be the proper way forward)
[code]
I now get
[code]

Could these be related to the fact that we are still using boost 1.55.0 and we should rather upgrade boost?

[2016-11-02 21:32] sneumann commented on #61
Hi,  not online,  so a quick guess :
1) don't copy,  change the *.o paths instead
2) does not look like a boost issue, more likely pwiz and compiler. I would add a cast or change the type of filterLine to fix things.
Yours Steffen

---
I blame Android for the brevity and typos

[2016-11-02 21:48] lgatto commented on #61
Could you clarify, please.

How many such manual changes should be expected? That could really lead us down the rabbit hole. Would there be another way to avoid modifying the pwiz code?

[2016-11-02 21:58] sneumann commented on #61
Here is the wrong path

https://github.com/Bioconductor-mirror/mzR/blob/master/src/Makevars#L22

Since the issue was in rampadapter,
I expect only few changes to avoid previously accepted implicit behaviour
In the compiler.

---
I blame Android for the brevity and typos

[2016-11-06 14:15] sneumann commented on #61
Hi, how is progress going on ? Could you commit to a new branch and I try helping out ? Yours, Steffen

[2016-11-09 22:13] lgatto commented on #61
@sneumann - sorry for the detail. I pushed to `new_pwiz`. The `Makevars` is amended and seems to work. I haven't had any time go into the casting error.

You also mentioned updating boost. From the `checkoutpwiz.sh` files, the following vars need to be updated
[code]
1.55.0 is the last version in that svn directly but the latest version is 1.62.0. Is this an relic or is there a reason for this?

[2016-11-10 22:18] sneumann commented on #61
Hi, thanks for pushing.

I fixed the cast, but get a bunch of errors downstream, which look like an old boost version issue :-(

Proteowizard is bundling https://sourceforge.net/p/proteowizard/code/HEAD/tree/trunk/pwiz/libraries/boost_1_56_0.tar.bz2 so we are not too far behind: 1_55_0 is the last one in SVN http://svn.boost.org/svn/boost/tags/release/ and all later ones are now on https://github.

[2016-11-19 19:12] jotsetung opened #64 "pwiz backend does not close file handles"
I experienced problems processing a large dataset using `MSnbase` and was able to break that down to a problem most likely in the `header` call using the `"pwiz"` backend. A reproducible example and the error message are below. It might be related to the fact that for no dedicated `close` function seems to be present in the `pwiz` library.

[code]
The error:
[code]

There are no problems without t

[2016-11-19 19:28] lgatto commented on #64
According to d2f3523269f7ba7301be5de789c708b01c52a76b, a `close` should have been added to the `pwiz` backend. It's not clear to be why the header fails, or why the connection isn't closed when using `header`? Does it re-open a connection under the hood?

[2016-11-19 20:15] jotsetung commented on #64
Yes, an additional connection is opened:
both the functions `getScanHeaderInfo` and `getAllScanHeaderInfo` open a new connection to the file _via_ a `RAMPAdapter` (`RAMPAdapter * adapter = new RAMPAdapter(filename);`), but do not delete this pointer before returning the values hence this additional connection to the file is not closed. Adding a `delete adapter;` and `adapter = NULL;` after all dat

[2016-11-19 20:16] jotsetung commented on #64
should I make a pull request or are you going to add these lines to the two functions?

[2016-11-19 20:18] lgatto commented on #64
Yes please - thank you!

[2016-11-20 12:13] #64 closed

[2016-11-21 10:08] jotsetung opened #66 "extract the startTimeStamp from a run"
Would be nice to add the possibility to extract also the `startTimeStamp` of a run from an mzML file (and report that e.g. also by the `runInfo` method).

[2016-11-21 20:36] thirdwing commented on #66
It should be OK to add this and it will be better if you can provide a small file for testing.

[2016-11-22 07:56] jotsetung commented on #66
Great! For testing you could use e.g. the _proteomics/TMT_Erwinia_1uLSike_Top10HCD_isol2_45stepped_60min_01.mzML.gz_ file from the `msdata` package.

[2016-11-22 14:23] lgatto commented on #66
[code]

[2016-11-24 23:00] sneumann commented on #61
Hi, just as an update, I now have locally a version that compiles with boost 1.58.0,
but I still have to find a way to only include boost files actually required,
and not the whole ~500MB boost files ... Yours, Steffen

[2016-11-28 14:35] sneumann commented on #61
Hi, just as an update, I now have locally a version that compiles with boost 1.58.0,
but I still have to find a way to only include boost files actually required,
and not the whole ~500MB boost files ... Yours, Steffen

[2016-11-28 14:37] sneumann commented on #61
So new_pwiz should compile on Linux, likely not yet on Windows.
Could someone try Mac ? @lgatto ? Yours, Steffen

[2016-11-28 17:09] lgatto commented on #61
I don't have a Mac. I could try to borrow one from a colleague, but that would only be later in the week at best. Will do my best.

[2016-11-28 18:00] jotsetung commented on #61
I could jump in - as a regular Mac user ;) what do I have to do? check out the *new_pwiz* branch, build and check it?

[2016-11-28 18:35] jotsetung commented on #61
A, well - too bad:
[code]
I've installed boost via homebrew

[2016-11-28 22:15] sneumann commented on #61
ah, you don't need to install boost, it is included in mzR,
version boost-1.58.0 The reason for the failure on your machine
is because I only included the minimum files required on Linux,
but not ops_cas_based.hpp which was then taken from the homebrew installation,
which likely was simply incompatible with 1.58.0. I'll try linux clang, add missing files
and let you know. Yours, Steffen

[2016-11-29 06:46] sneumann commented on #61
I have pushed a few files that were missing for clang compilation. Could you pull and try again ?

[2016-11-29 06:51] jotsetung commented on #61
Not there yet:
[code]

[2016-11-29 08:13] sneumann commented on #61
OK, I added ops_cas_based.hpp now. Any compiler output mentioning /usr/local/include/boost/
is a sign I missed more files. Yours, Steffen

[2016-11-29 10:00] jotsetung commented on #61
OK, now it's working! Can build it and `R CMD check` runs without problems!

[2016-11-30 14:13] sneumann commented on #61
I have now also a version 2.9.1.1 that compiled under my windows,
and works at https://win-builder.r-project.org/dffYKyJI1M49/00install.out

[2016-12-09 16:51] lgatto commented on #15
Although I think this would be good, I think we should avoid any confusion and keep things have always been.

[2016-12-09 16:51] #15 closed

[2016-12-09 16:52] #51 closed

[2016-12-09 16:52] #50 closed

[2016-12-09 16:53] #52 closed

[2016-12-09 17:13] #45 closed

[2016-12-09 17:13] #47 closed

[2016-12-09 17:13] #40 closed

[2016-12-09 17:29] #32 closed

[2016-12-09 17:29] #34 closed

[2016-12-09 17:29] #36 closed

[2016-12-09 17:29] #31 closed

[2016-12-09 17:29] #29 closed

[2016-12-09 17:30] #56 closed

[2016-12-09 17:35] #17 closed

[2016-12-09 17:43] jotsetung commented on #15
`spectra` would be more intuitive - eventually put the `peaks` functionality into `spectra`, call `spectra` in the `peaks` method and deprecate it to allow users to adopt to the new method?

[2016-12-09 20:31] lgatto commented on #15
The signature is `peaks(object, scans)`; this would then become `scans(object, scans)`.
The former means `give me the peaks of these scans in this object`, which makes sense, considering the new `give me the scans of these scans in this object`. Still up for it?

[2016-12-10 15:57] lgatto commented on #15
Done in 4de273f5c90dd0df4bddebe65bf836ec7999e9a4. Currently both supported. We could consider deprecating `peaks`.

[2016-12-10 18:45] jotsetung commented on #15
You think `scans` is better than `spectra`?

[2016-12-10 18:47] lgatto commented on #15
Shit - will fix.

[2016-12-11 08:40] lgatto commented on #62
Closing this issue - update is discussed in #61

[2016-12-11 08:40] #62 closed

[2016-12-11 08:40] #53 closed

[2016-12-11 08:41] lgatto commented on #61
@sneumann - is anything ready to be merged?

[2016-12-11 08:41] #12 closed

[2016-12-12 09:15] sneumann commented on #61
Hi, while I can't give guarantees on all architectures,
I'd say yes we can try to merge 946d23d and fix on all architectures.
Yours, Steffen

[2016-12-12 10:20] lgatto opened #68 "Travis fails"
Travis has been failing with a very weird error - https://travis-ci.org/sneumann/mzR

It looks like the `gcc` line has been split, leading to the

[code]
error

Any idea, anyone?

[2016-12-12 11:26] sneumann commented on #68
So on the BioC build machines we have `g++ -std=gnu++11 -shared -L/home/biocbuild/bbs-3.5-bioc/R/lib -L/usr/local/lib -o mzR.so cramp.o [...]` so on Travis the line is missing the 'g++ -std=gnu++11` part, which on my laptop is configured in `/usr/lib/R/etc/Makeconf` via `SHLIB_CXX1XLD = $(CXX1X) $(CXX1XSTD)'. Could `SHLIB_CXX1XLD` be empty on the Travis R installation ?

[2016-12-12 15:54] sneumann commented on #68
Reported upstream as https://github.com/travis-ci/travis-ci/issues/7017

[2016-12-14 11:47] lgatto commented on #68
@sneumann - have you tried this
[code]

This was committed by @sgibb to [MSnbase](https://github.com/lgatto/MSnbase/commit/2d590a70cc7a25d9084ba44cd81de83e74b4cc0) and seems to work (well, it fails but for another reason).

[2016-12-14 11:52] sneumann commented on #68
Hi, yes, this is now configured. I realised I was also too aggressive leaving out
stuff not required for compilation, currently adding support for Ubunto 12.04,
14.04 and will check Debian as well. Stay tuned ...

[2016-12-14 16:04] sneumann commented on #68
Hi, confirmed to work on Ubuntu 12.04 (gcc-4.6.3) and 14.04 (gcc-4.8.2) on x86_64,
and on Debian stretch/sid (gcc-5.4.0). And - tada! - now also on Travis:
https://travis-ci.org/sneumann/mzR/builds/183959445

[2016-12-14 16:04] #68 closed

[2016-12-14 16:32] lgatto commented on #68
Ok, I'll push ot Bioc asap (but probably not tonight).

[2016-12-15 09:38] #63 closed

[2016-12-15 12:29] lgatto commented on #61
Done, now on Bioc

[2016-12-15 12:29] #61 closed

[2016-12-15 12:40] sneumann commented on #61
Awesome, let's keep fingers crossed. I'll monitor the build reports

[2016-12-18 20:48] sneumann opened #69 "mzR 2.9.1 fails to install on macOS"
Reported:
[code]

[2016-12-18 21:25] sneumann opened #70 "mzR 2.9.1 fails to install on oaxaca"
http://bioconductor.org/checkResults/devel/bioc-LATEST/mzR/oaxaca-install.html
[code]
This file was added in 154f34f554dcf8ba082f6a95b32455d9fd7ae8e7,
but there could be others missing. Yours, Steffen

[2016-12-18 21:36] sneumann commented on #69
mzR already used
[code]
and with 4b68af1d156b7342c086f70f46fab86f8525de75 now also
[code]
Yours, Steffen

[2016-12-19 05:16] thirdwing opened #71 "Replace cout/cerr"
From the Travis log: https://travis-ci.org/sneumann/mzR#L2041

We need to replace cout/cerr.

[2016-12-19 08:22] sneumann commented on #71
Hi, these are only NOTEs, but yes, we should consider submitting
upstream patches to get rid of them.

[2016-12-21 22:05] lgatto opened #72 "mzR fails to build with gcc 6.2.1"
This [post](https://support.bioconductor.org/p/90546/) on the support site

[code]

Any idea?

[2016-12-22 13:33] sneumann commented on #72
Hi,  We need more information, the error message looks truncated. This is the linking Step, and if the *.o are missing,
The compile steps before have failed. But then it should not have reached the linking in first place. And yes, of course we want to help the original poster.
Yours Steffen

---
I blame Android for the brevity and typos

[2016-12-22 14:04] lejeczek commented on #72
actually, mzR does not compile at all on eg. Centos 7.x in R-core-3.3.2-2.el7.x86_64.
I've been now trying vanilla-plain distro's R and mzR fails the same exact way.
I attached a log but I'm worried that might not be good enough.
[mzR.compile-fails.txt](https://github.com/sneumann/mzR/files/668894/mzR.compile-fails.txt)

[2016-12-22 17:05] sneumann commented on #72
Hi, The log was perfectly fine. What surprised me was the message

Bioconductor version 3.4 (BiocInstaller 1.24.0), ?biocLite for help

Towards the end. Looks like bioclite
Was restarted?  My suspicion is that it is your R instalation. Can you try R CMD INSTALL mzr-.....tar.gz<http://tar.gz> manually?
Yours Steffen
---
I blame Android for the brevity and typos

[2016-12-22 17:10] sneumann commented on #72
One more thing, what is that missing sos package on startup? Does it work of you install as a different user, or remove any /home/user/.R?

---
I blame Android for the brevity and typos

[2016-12-22 17:49] lejeczek commented on #72
it is probably because I load a few bits at startup time, but I also tried without.
I do it all as root, in my .Rprofile:

#options(BioC_mirror = "http://mirrors.ebi.ac.uk/bioconductor/")
#options(repos = structure(c (CRAN="http://mirrors.ebi.ac.uk/CRAN/","http://cran.ma.imperial.ac.uk/")))
#options(defaultPackages=c(getOption("defaultPackages"), "utils", "BiocInstaller", "sos"))
Sys.setenv(MAKEFL

[2016-12-22 18:50] sneumann commented on #72
Is that on a docker container I could try?

---
I blame Android for the brevity and typos

[2016-12-22 19:17] videlc commented on #62
Just to follow up my issue.
Update solved my issue.
My initial point was to use the parser to be able to do itraq quantificaiton using reporter.

As i faced and solved some issue that were not documented before, i'll just post it there for people that might do the same in the future.

To parse :
`
x <- openIDfile('1.mzid')
p<-psms(x)
m<-modifications(x)
`
Parsing my mzid file from peptideshaker ga

[2016-12-23 11:12] lejeczek commented on #72
ok, MAKEFLAGS = "-j15" (or any value other than 1 I'd imagine?) beaks your package build (at least on my all different Centoses). I hope you can fix it? It would be a shame otherwise.

[2016-12-23 16:01] lgatto commented on #62
Thank you very much @videlc for following up!

[2017-01-21 16:35] xdomingoal opened #73 "mzR not able to read mzML"
I'm not currently able to read mzML/mzXML files (attaced) with mzR from QqQ samples acquired by MRM. I've converted the files using Proteowizard, and with different parameters and options. Although the file seems to be converted well (it can be loaded with proteowizard's seeMS), the file seems to be empty when read by mzR.

[standmix-5.mzML.zip](https://github.com/sneumann/mzR/files/721304/standmi

[2017-01-21 19:14] lgatto commented on #73
Looking at the content of your `mzML` file, I can understand why it doesn't work. It doesn't contain any MS data (or any level); it contains chromatograms; full TIC and, as far as I can see 137 individual SRMs (extracted chromatograms).

We don't support that data, mainly because we haven't had the need so far. But, I wouldn't exclude doing some work towards it. What would be your use case, what d

[2017-01-21 21:10] sneumann commented on #73
so the data is in `<chromatogram>`  tags, not in `<spectrum>`. It should be fairly easy
to add the support, and if xdomingoal wants, we could talk you through and take pull requests.
What's needed would be to extend `RcppPwiz.cpp` and in addition to `msd->run.spectrumListPtr`
also add some kind of `msd->run.chromatogramListPtr` and of course handling chromatograms
similar to `SpectrumPtr s = slp->

[2017-01-22 00:47] xdomingoal commented on #73
Sounds good, I can try.

[2017-01-23 11:36] lgatto commented on #73
Actually, there is a `RcppPwiz::getChromatogramsInfo()` already, but it only returns to full chromatogram. The current method would need to be modified to return selected XICs. I will have a look asap.

[2017-01-23 19:31] lgatto commented on #73
I got a bit of time this evening and it seems to work. I will need to do some more testing and add a couple of helper functions and hope to push working code in a couple of days or so.

[2017-01-23 20:19] lgatto commented on #73
@xdomingoal - do you mind if I use the `standmix-5.mzML` file as SRM test for the new functionality. That file would be added to `msdata` for general testing purpose. If you do agree (I will acknowledge you in the data file man page), could you send a short description of the data: instrument, basic info about the sample, ...

[2017-01-23 20:29] xdomingoal commented on #73
No problem!

Sample from mouse brain acquired by HILIC ESI-QqQ/MS in Dynamic multiple reaction monitoring mode (MRM). HPLC system was a 1290 Infinity (Agilent Technologies) coupled to ion-Funnel Triple quadrupole 6490 mass spectrometer (Agilent Technologies).

[2017-01-23 21:33] lgatto commented on #73
I have added the MRM file to [`msdata`](https://bioconductor.org/packages/devel/data/experiment/html/msdata.html) version 0.15.1, which should become available within 24 hours (on devel only, though).

Tomorrow (most likely), I will push a new version of `mzR` with support for chromatograms. I will update this issue accordingly.

[2017-01-23 21:36] xdomingoal commented on #73
Thank you!

[2017-01-24 13:49] lgatto commented on #73
I have pushed to github now. Travis fails because `mzR` now depends on `msdata` 0.15.1, which is not available yet via `biocLite` (you'll need to get the source from the svn server if you want if immediately).

I am considering preparing a higher level interface in `MSnbase` for more convenient manipulation and processing. I fill add a note on this issue linking to a new issue whenever I get there

[2017-01-24 13:49] #73 closed

[2017-01-24 21:22] lgatto commented on #73
I have pushed to Bioc. The first `mzR` builds might fail too as data packages are only build 2  times a week (Wed and Sat, I believe) and the latest `msdata` might not be available. Things should clear out soon, however.

[2017-01-24 21:26] lgatto opened #74 "Header for chromatograms"
There is a need for a header function to extract feature data from the `chromatogramList`. I'll try to add it asap.

[2017-01-25 10:06] lgatto opened #75 "mzR build errors"
As `mzR` was failing to build on OSX (and actually has been since the latest release) with the following error
[code]

I added that missing file (from `boost` 1_58), which now just produced the following on [travis](https://travis-ci.org/sneumann/mzR)

[code]

Any idea?

Cc @sneumann @thirdwing @jotsetung

[2017-01-25 15:46] sneumann commented on #75
I don't think the issue is due to the added boost header.
If you check e.g. https://travis-ci.org/sneumann/mzR#L2122 there is a compiler
missing at the beginning of this line ?! And if you check https://travis-ci.org/sneumann/mzR#L2439
the linker command looks borked: `g++ nCXX1X=g++ -shared ...`

[2017-01-25 15:48] sneumann commented on #75
... and the spurious "n" in `g++ nCXX1X` comes from https://github.com/sneumann/mzR/blob/master/.travis.yml#L18

[2017-01-25 15:51] lgatto commented on #75
Ahh, thanks!

[2017-01-25 15:53] #75 closed

[2017-02-06 14:12] Maddocent opened #78 "mzR failes to install on Cent"

[2017-02-06 14:26] sneumann commented on #78
Hi  Maddocent, we need a bit more information here.
Which centos ? Wich error ? If you happen to have a docker container available,
we can fix the compilation quicker. Usual reason is that instead of including
the full 500MB boost source, we only have a subset, and that is not
sufficient for your setup. Yours, Steffen

[2017-02-06 14:40] Maddocent commented on #78
Sorry, I restarted my Rsession to clear the memory and than the installation ran smoothly.
Thank you for the quick reply.

[2017-02-06 18:58] #78 closed

[2017-02-08 11:55] sneumann commented on #72
Hi, I just saw this.
I can't think of anything we got wrong, I am open to suggestions:

In line 118 we define what object files make up our package shared lib mzR.so:
https://github.com/sneumann/mzR/blob/master/src/Makevars#L118

So all objects will be built in parallel, and the Makefile logic for linking
that into a *.so is in the R system Makefile parts. I saw from your logs
that only a part of

[2017-02-08 11:56] sneumann commented on #69
Building on macOS now:
http://bioconductor.org/checkResults/devel/bioc-LATEST/mzR/

[2017-02-08 11:56] #69 closed

[2017-02-09 14:56] sneumann opened #79 "WARNING: File ‘mzR/libs/mzR.so’: Found ‘_ZSt4cerr’, possibly from ‘std::cerr’"
Hi, this could be fixed by some search&replace.
[code]

[2017-02-09 14:56] sneumann commented on #72
Please re-open if persists

[2017-02-09 14:56] #72 closed

[2017-02-09 14:56] sneumann commented on #70
Fixed in 2.9.6

[2017-02-09 14:56] #70 closed

[2017-02-09 14:57] sneumann commented on #79
Duplicate of #71

[2017-02-09 14:57] #79 closed

[2017-02-10 02:57] andrewrech opened #80 "sh: 1: “/usr/bin/java”: not found"

[2017-02-10 03:06] #80 closed

[2017-02-23 06:38] jotsetung commented on #74
Related to https://github.com/sneumann/xcms/issues/125 I had a look at the https://github.com/wilsontom/sRm/ package. Seems to me that in that package the Q1 and Q3 mz are extracted from the ID of the chromatogram. Tried to figure out how this could be done with proteowizard, but failed because of the lack in documentation (at least to me the documentation is not really helpful).

[2017-03-06 08:39] sneumann opened #81 "Polarity encoding via "positive scan"/"negative scan" not recognized"
Hi,

It seems that mzR is not picking up the polarity correctly. There are several
example files at https://gitlab.cs.man.ac.uk/mibssmv3/switch_polarities/tree/master
Polarity in the files is expressed via:

[code]

But we get
[code]
This is with mzR_2.9.1:
[code]

[2017-03-06 13:10] sneumann commented on #81
Hi, I found that we still have a bit of `RAMPAdapter` calls in `mzR/src/RcppPwiz.cpp`,
I think these should be replaced with "pure" pwiz.

[2017-03-06 13:51] sneumann commented on #81
WIP in https://github.com/sneumann/mzR/tree/fix_issue_81

[2017-03-07 12:50] jotsetung opened #82 "Note: mzR sticker"
I've created an `mzR` sticker at the https://github.com/jotsetung/BioC-stickers repo. Let me know if you'd like me to change something or if you're OK with it.

[2017-03-07 14:36] sneumann commented on #82
cool! A nice Grundlinie for the package name would be cool,
looks nicer if several packages are shown (like in the link above)

[2017-03-07 17:51] jotsetung commented on #82
What exactly do you mean with Grundlinie? Draw a line below the package name (underline the name)?
I'll also make a version with dark font - just to compare.

[2017-03-07 20:28] sneumann commented on #82
I meant the vertical alignment of the texts:

![image](https://cloud.githubusercontent.com/assets/195385/23676403/e755ebc8-037c-11e7-88bb-a955c16e4ba1.png)

[2017-03-07 20:31] jotsetung commented on #82
Agreed.

[2017-03-07 21:37] jotsetung commented on #82
See https://github.com/jotsetung/BioC-stickers/issues/8 for more discussions on the `mzR` sticker and a dark alternative version.

[2017-03-08 21:23] #81 closed

[2017-03-08 21:27] sneumann opened #83 "Completely replace calls to RAMPadapter in backend pwiz"
Hi, I found that we still have a bit of RAMPAdapter calls in mzR/src/RcppPwiz.cpp,
I think these should be replaced with "pure" pwiz. This can be done
once all information currently retrieved from RAMPadapter is replaced
by calls to `spectrum->cvParamChild()` as in https://github.com/sneumann/mzR/blob/master/src/RcppPwiz.cpp#L179

[2017-03-08 21:36] stanstrup commented on #81
I imagine same as this: https://github.com/sneumann/mzR/issues/46

[2017-03-08 22:40] sneumann commented on #46
Hi @stanstrup , if you are happy with mzR-2.9.8, please close this one as well.

[2017-03-09 06:55] jotsetung commented on #83
That would be awesome - that way we might get also rid of some sneaky memory problems we had (and occasionally still have).

[2017-03-09 07:28] sneumann opened #84 "Switch to pwiz backend by default"
Hi, mzR is still using the Ramp backend by default. XCMS has been calling
the pwiz backend for at least half a year now. mzR should switch to backend pwiz
in https://github.com/sneumann/mzR/blob/master/R/io.R#L1 by default.
Should be done first thing in the next BioC-3.6 devel cycle in April/May 2017.

[2017-03-09 07:39] sneumann commented on #46
Note that the fix requires `openMSfile(file, backend="pwiz")`, which has been default
in xcms for several months, but default in mzR is still `backend="ramp"`, until we close #84

[2017-03-09 08:13] lgatto commented on #84
There was a point where `pwiz` was default, but with erratic errors. Since then, many bugs have been fixed, so I would definitely for in favour of switching.

[2017-03-09 08:14] lgatto commented on #84
Why wait until next release and not now?

[2017-03-09 09:26] stanstrup commented on #46
I'd like to check this but I am unable to build mzR from source on windows. I get:
`rnetCDF.h:1:20: fatal error: netcdf.h: No such file or directory`

[2017-03-09 09:41] sneumann commented on #46
Would be fixed by #11 ...
For now, follow: https://github.com/sneumann/mzR/issues/50#issuecomment-249516337
Or wait until 0.9.8 is on the build machines tonight or tomorrow.

[2017-03-09 10:19] jotsetung commented on #84
I would also opt for now (in the devel branch) - then we have some time to test if all works correctly.

[2017-03-09 10:31] stanstrup commented on #46
Thanks! Got that working.

But both backends reports 0s and XCMS reports "negative". :(

[2017-03-09 11:18] #82 closed

[2017-03-09 11:24] jotsetung opened #85 "Unable to install mzR on macOS"
I'm failing to install `mzR` from source on macOS:
[code]
I tried to install the version on Bioconductor and the one from github but get the same error on both.

[2017-03-09 13:20] sneumann commented on #46
Works over here:
[code]
Will also check xcms next.

[2017-03-09 13:46] stanstrup commented on #46
Hmm. that is mighty strange. I double-checked the github SHA and I cannot get your result.
Any idea how that is possible?

[2017-03-09 14:36] jotsetung commented on #85
I'm installing it to R devel (2017-03-08 r72321) and R devel (2017-01-19 r72014) and various version of `mzR`:
+ 2.9.7 fails for both R versions
+ 2.9.6 fails for both R versions.

Since I have version 2.9.6 installed on the older R (2017-01-19) I start wondering whether it's something related to my system.

[2017-03-09 20:33] jotsetung commented on #85
I don't really understand the error, because `libnetcdf.11.dylib` is located in */usr/local/lib* and *should* be found by R/mzR. Strange.

[2017-03-09 21:12] sneumann commented on #46
So, in mzR neg=0, pos=1 and unknown=-1 works here
for backend=pwiz, but broken for backend=Ramp.
xcms currently using Ramp as default, so getting it wrong.

[2017-03-09 21:14] stanstrup commented on #46
Seems my work computer is behaving very strangely. At home I have confirmed that it now works correctly.

[2017-03-09 21:14] #46 closed

[2017-03-09 21:19] jotsetung commented on #46
I was just wondering - wouldn't it be more intuitive to have `neg = -1`, `pos = 1` and `unknown = NA`?

[2017-03-10 06:37] sneumann commented on #46
Indeed more intuitive, but that's what Ramp has given us for years. Consistency wins over intuition.
Good that xcms uses the factor now!

[2017-03-10 09:14] stanstrup commented on #46
FYI: I fixed my trouble by manually deleting mzR and recompiling. Seems for some reason old things were silently left behind.

[2017-03-10 14:27] jotsetung commented on #85
OK, so it's not my recent changes to the system. Get the same failure on a stock macos 10.12.3. Will investigate further.

[2017-03-10 17:12] microalgues opened #86 "mzR fail installation"
Dear all,

I am having problems to install mzR package in R under my Ubuntu 16.04LTS distribution.

As you can see below I get several similar errors. I checked the software version of:

GNU Make 4.1
gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609
netCDF 4.4.0

And I also tried to install from git-hub

but it didn't work. Could someone help me?

With thanks,

Xavier

#./boost/utility/base_from_

[2017-03-10 17:24] lgatto commented on #86
Please, do not cross-post. I am closing this issue as the question has also been asked on the [Bioconductor support forum](https://support.bioconductor.org/p/93702/).

[2017-03-10 18:38] jotsetung commented on #85
OK, i've got:
+ netcdf-4.4.1.1_4
+ hdf5-1.10.0-patch1
and `R CMD INSTALL mzR` builds and compiles the package but it can not load it:
[code]
I will investigate further, but if anybody sees something obvious or has a suggestion I would be grateful.

[2017-03-11 07:29] jotsetung commented on #85
@sneumann @lgatto , which version of boost are you using on your systems? I have 1.63.0

[2017-03-11 09:50] sneumann commented on #85
I have 1.5x, and in fact mzR should use the bundled headers inside mzR

---
I blame Android for the brevity and typos

[2017-03-11 15:30] lgatto commented on #85
I have `1.54` and `1.55`. In `checkoutpwiz.sh`, we seem to fetch `1.58`.

[2017-03-11 20:15] jotsetung commented on #85
I uninstalled boost from my system - get the same error. yes, it uses the bundled boost - wasn't aware of that. Next I'll try with a pre-compiled R.

[2017-03-12 07:37] jotsetung commented on #85
Same error, also with the R-devel from CRAN. Will try an older macos version (< 10.12.3).

[2017-03-12 16:06] jotsetung commented on #85
Fixed it: seems to be related to the `netcdf` that is distributed *via* `homebrew`. To fix:
+ Uninstall the `netcdf` from `homebrew`: `brew uninstall netcdf`.
+ Download the `netcdf` (version 4.4.1.1) source, compile and install (just plain `configure`, `make`, `make install`).

Works now. Guess there might be something broken with the `homebrew` `netcdf`.

[2017-03-12 16:06] #85 closed

[2017-03-13 10:06] lgatto commented on #86
Does this error look familiar to anyone, or is it a red herring?

[code]

I installed successfully using
[code]
Cc @sneumann @jotsetung

[2017-03-13 15:19] microalgues commented on #86
Thanks so far for your help.
Although, it is not a hoax at all.
However, after digging a bit deeper, I found out that the problem is caused by the following error

error: no matching function for call to ‘call_once(boost::once_flag&, void (&)())’boost::call_once(current_thread_tls_init_flag,create_current_thread_tls_key);

rather than by the warnings.
Other forums report it to be a bug and found s

[2017-03-13 15:22] sneumann commented on #86
We have the same on the travis build for mzR.
There we had to:
`mkdir ~/.R && echo 'CXX1X=g++ -std=c++0x -g -O2 -fPIC' > ~/.R/Makevars`

[2017-03-13 15:22] lgatto commented on #86
Red herring doesn't mean a hoax, it means that the error that is shown is actually not the real reason things fail. I wanted to check here before asking you to provide a more complete or full output.

[2017-03-13 15:24] lgatto commented on #86
More details about that issue: https://bugs.r-project.org/bugzilla3/show_bug.cgi?id=17189

[2017-03-13 15:27] lgatto commented on #86
@microalgues - if setting the `CXX` flags fixes you local issue, would you mind reporting this on the Bioconductor support site, please.

[2017-03-15 11:21] microalgues commented on #86
Hello @lgatto @sneumann ,
Finally, the recommended command doesn't work

In general, create Makevars files does't work for me (I've tried in several folders)

In some way, I have already installed the package but with a lot of warnings and notes (see below).
I changed different flags of the /etc/R/Makeconfig file, and the CPPFLAGS was that one which allow the pseudo-installation:

CC = gcc -std=gn

[2017-03-15 13:26] lgatto commented on #86
I guess you could also set the flags in `mzR/src/Makevars`.

What is your `Rcpp` version, given by `packageVersion("Rcpp")`; I have `0.12.9`. I am surprised by the deprecation warning.

Where does `mzf` come from? Did you download it? Could you try

[code]

[2017-03-15 14:12] microalgues commented on #86
Hello,
I have created the folder mzR/src/ because it does't exist in mylibrary. Should it exist?
##############

[1] ‘0.12.9’
##############

Loading required package: Rcpp
Warning message:
'loadRcppModules' is deprecated.
Use 'loadModule' instead.
See help("Deprecated")

Error: could not find function "proteomics"

Error in basename(fls) : object 'fls' not found
################
mzf file come fro

[2017-03-15 14:24] lgatto commented on #86
In the source package, it exists. Flags should be set prior to compilation.

I think you need to update all your packages. `msdata` is outdated, as it doesn't have the `proteomics` function that returns proteomics files. Could you

[code]
to update all packages and try the example code I suggested again.

[2017-03-15 14:33] microalgues commented on #86
Sry, I don't get how flags can be set prior to compilation in the mzR/src/ folder as this folder is first created with the biocLite command which goes in hand with its immediate compilation. So, there is no mzR/src/ folder before "compiling" where I could pre-set flags.

[2017-03-15 14:38] lgatto commented on #86
To compile yourself and set flags, you need to download the source manually (you can get  the package tarball from Bioconductor landing page or get the source tree from github). Then, you can modify the `Makevars` in the `src` directory, then compile (build), check, and install with
[code]

You still need to update everything using `biocLite`, as some packages are outdated.

[2017-03-15 16:09] microalgues commented on #86
Thank you very much.
Yeah, right, we tried to avoid to install and compile it from hand.
Anyhow, we tried it, but the errors seem to glue to our soles as chewing gums. We removed R completely and re-installed it; then, we tried to run the "build" command, and got the following error:

* installing the package to build vignettes
* creating vignettes ... ERROR
Warning: running command 'kpsewhich fra

[2017-03-15 16:14] lgatto commented on #86
You also compile using `biocLite` on Linux, so there isn't such a big different, at least compared to other OSes.

The LaTeX error you get is when building the vignette. You can bypass this with

[code]

[2017-03-21 15:14] cjhjhj opened #87 "Modification to mzRramp class object?"
I'd like to ask question about mzR package, in particular, mzRramp class object.
When loading mzXML file, e.g. ms = openMSfile(“xxx.mzXML”), the peaks in a specific scan can be obtained by ms@backend$getPeakList(#scan)$peaks.
Is it possible to change m/z and(or) intensity values of the peak?
Even though I have tried the command as follows,
ms@backend$getPeakList(#scan)$peaks[1, ] = c(300, 125000)

[2017-03-21 17:23] lgatto commented on #87
First, please, don't use
[code]
but use
[code]
This is not a trivial difference. The former might stop working any time and you will be on your own if things go wrong. The latter is guaranteed to always work, even if developers completely rewrite the package.

Regarding your question, no, this is not possible and is not mean to work like that. `mzR` accesses data *on the flight* on the hard drive,

[2017-03-23 17:27] AaronStorey opened #88 "List of precursor and product scan numbers for a scan number"
Thanks for writing and maintaining the software.  Our lab is using it to extract MS3 reporter ion intensities from peptide-spectrum matches identified by search software that does not support TMT-MS3 quantitation.

Is there an object which lists MS scan numbers, and all precursor and product scan numbers derived from that scan?  I'm extracting this information from each scan header, but I'm guessi

[2017-03-23 17:58] lgatto commented on #88
I would suggest you look into `MSnbase` for that:
[code]
to get an experiment (including spectrum data) with all MS3 spectra.

[2017-03-24 10:32] microalgues commented on #86
Finally the package is working. I've installed after manual compilation from the command line following your recommendations.

But I have had to modify the flags from the Makeconf file, because the mzR/src/Makevar file didn't work form me. Despite everything, I had some warnings during some other packages installation (are also working). I paste how looks my modifications of Makeconf file.

[code]

[2017-03-24 14:16] #86 closed

[2017-03-25 16:13] sneumann opened #89 "Remove C++ references to cout/cerr/abort in pwiz code"
[code]

[2017-03-25 18:16] sneumann commented on #89
Hi @lgatto , the fix is sitting in branch `fix_issue_89`,
but I am again unable to rebase and push to SVN,
it would be awesome if you could merge this in the coming days.
Thx in advance, Steffen

[2017-03-25 18:26] lgatto commented on #89
Ok, I'm on it.

[2017-03-25 18:36] #89 closed

[2017-03-25 19:33] lgatto opened #90 "boost/predef/compiler/digitalmars.h missing"
[code]
@sneumann - does this sound familiar? Has there been a change that required to add this from boost into `mzR`?

[2017-03-25 19:34] lgatto commented on #90
I have the same error locally.

[2017-03-27 12:36] sneumann commented on #90
Which is strange, since there is a `mzR/src/boost/boost/predef/compiler/digitalmars.h` in the package,
and the compiler flags says `-I./boost/` . Also, the docker image compiles mzR successfully: `DONE (mzR)` in https://hub.docker.com/r/bioconductor/devel_protmetcore2/builds/b3bfsnsdkzxgksoxwmsntib/.

[2017-03-27 13:04] jotsetung commented on #90
No problem with macos.

[2017-03-27 13:27] lgatto commented on #90
I manage to compile when removing
[code]
from `compiler.h`

[2017-03-30 13:34] lgatto commented on #90
I am going to commit a version without that line, to address the request from Bioconductor. It would be good to get a better fix - I'm not going to close this issue yet.

[2017-03-31 05:34] sneumann commented on #90
One thing that stymes me is that INSTALL works fine, while compilation during CHECK fails:
Works:
[code]
Fails:
[code]

[2017-04-06 10:56] sneumann opened #91 "WARNINGS due to register class"
We have WARNINGS on non-linux in http://bioconductor.org/checkResults/devel/bioc-LATEST/mzR/veracruz2-checksrc.html
due to `boost/libs/regex/src/regex_raw_buffer.cpp:39:4: warning: 'register' storage class specifier is deprecated and incompatible with C++1z [-Wdeprecated-register]`
which can be fixed the same way we did it back in
https://github.com/sneumann/mzR/commit/c8d2d5db0c0a1821e1465bba68e6

[2017-04-07 12:38] Muiiki opened #93 "mzR has been built against a different Rcpp version (0.12.8)"
Warning message:
In fun(libname, pkgname) :
  mzR has been built against a different Rcpp version (0.12.8)
than is installed on your system (0.12.10). This might lead to errors
when loading mzR. If you encounter such issues, please send a report,
including the output of sessionInfo() to the Bioc support forum at
https://support.bioconductor.org/. For details see also
https://github.com/sneumann/mz

[2017-04-10 06:37] #91 closed

[2017-04-12 08:23] sneumann opened #94 "WARNING: Non-portable flags in variable 'PKG_CPPFLAGS': -fpermissive"
Windows complains:

http://bioconductor.org/checkResults/devel/bioc-LATEST/mzR/tokay2-checksrc.html

[code]

[2017-04-12 09:13] sneumann commented on #94
Simply dropping `-fpermissive` works on `gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609`

[2017-04-17 04:52] woodruffw commented on #85
Hi there, homebrew maintainer here.

We had a bug in some of our binary relocation code, and it looks like it found its way down to you. You *should* be able to fix the problem with our version of `netcdf` by running `brew reinstall netcdf`, which will correctly relocate the dynamic libraries.

Sorry for all the trouble, and please let me know if it works!

[2017-04-17 07:12] lgatto commented on #85
Thank you for following up, @woodruffw.

[2017-04-17 10:45] jotsetung commented on #85
Thanks @woodruffw . Works now!

That's the netcdf I've got:
[code]

[2017-04-17 13:38] woodruffw commented on #85
Glad to hear it!

[2017-04-21 06:35] sneumann opened #98 "Fix pwiz / boost code to compile on windows without -fpermissive"
Hi, it seems that -fpermissive is required on windows, without it we get
[code]
somewhere around https://github.com/sneumann/mzR/blob/master/src/boost_aux/boost/interprocess/detail/win32_api.hpp

[2017-04-27 07:28] OnlyBelter opened #99 "/bin/bash: nc-config: command not found"
When I insall mzR by `install.packages('/home/beltet/Downloads/mzR_2.10.0.tar.gz', repos=NULL, type='source')`, I got this prompt message `/bin/bash: nc-config: command not found` many times. What does it mean?

[2017-05-08 01:41] kasperdanielhansen opened #100 "missing boost/detail/fenv.hpp"
I am in the process of installing R on a new (linux) system.  Under GCC 4.8.5 where I do not have boost installed in my system, mzR gives me
[code]
I then proceeded to install boost system wide, after which mzR compiled successfully.

Inspection reveals that `boost/detail/fenv.hpp` is indeed missing from the boost bundled with mzR.

[2017-05-08 06:57] sneumann commented on #100
Hi Kasper,
yes, we trimmed boost down, since it would've been a couple of 100 megabytes.
either you or me has to get a list of files that need to be added. If it is me,
I need a simple test environment to check, ideally a docker container.
If it is you, just send me a list of files that need inclusion, or even cooler,
pull request. Yours, Steffen

[2017-05-08 13:26] kasperdanielhansen commented on #100
Any recent changes to boost or have I uncovered an issue present for a long time?  I don't like the fact that current you'll get a mixture of boost from included files and boost from system files, not that I know how to "fix" this.

Could you point me to the exact version (preferably tarball) of boost you're including in mzR? I'll try to take a look at this, although I don't really have time...

[2017-05-16 08:58] jotsetung opened #101 "mzML write support?"
I was wondering if there are plans to add mzML write support to `mzR` - that would be really great.

[2017-05-16 09:06] lgatto commented on #101
There were plans in the original GSoC project, but @thirdwing never got that far.

[2017-05-17 16:02] tsufz opened #102 "warning: "BOOST_HAS_WINTHREADS" redefined # define BOOST_HAS_WINTHREADS"
Windows complains:

[code]

[2017-05-23 08:52] jotsetung commented on #84
I'm hitting segfaults now with the `Ramp` backend when I'm extracting single spectra from an mzML file:
[code]

I'm now evaluating if this doesn't happen with the `pwiz` backend.

[2017-05-23 09:20] jotsetung commented on #84
The segfault above does no longer occur if the `pwiz` backend is used - another argument to switch from `Ramp` to `pwiz`.

[2017-05-23 14:19] lgatto commented on #84
@jotsetung I have merged the pull request and will push to Bioc. I'll leave this issue open until this change has been announced on the devel mailing list. Whoever announces it should then close this issue.

[2017-05-23 16:10] #84 closed

[2017-05-26 06:40] jotsetung opened #104 "version missmatch between Bioconductor svn and homepage"
On the Bioconductor homepage the version listed for `mzR` is 2.11.0 (http://bioconductor.org/packages/devel/bioc/html/mzR.html), but the version in the Bioc SVN is 2.9.12.
Problem is that the version 2.9.12 uses the `pwiz` backend by default, while the version 2.11.0 (presumably older than 2.9.12) does not. Could be that I messed this up with my pull request as I eventually bumped the wrong versio

[2017-05-26 07:47] lgatto commented on #104
Yes, there was a mess-up in version numbers. I am about to fix the devel version to 2.11.1, which included the backend change. Are we missing anything else?

[2017-05-26 07:49] lgatto commented on #104
Done now on svn. Homepage should update after the next (successful) build.

[2017-05-26 07:49] #104 closed

[2017-05-29 12:10] jotsetung opened #105 "Is precursorScanNum linked to acquisitionNum or seqNum?"
@lgatto, eventually you known this: is the `"precursorScanNum"` reported by the `mzR::header` method linked to the `acquisitionNum` or the `seqNum` column of the same `data.frame`?

[2017-05-29 12:32] jotsetung commented on #105
To explain a little more: I'm testing some code to write mzML files (issue #101) based on a `data.frame` in the format returned by the `mzR::header` method and a `list` with content same as returned by `mzR::peaks`. When it gets to write MSn data it gets tricky with what id to provide as the `precursor.spectrumID`.
As spectrum ID I am using a string that combines `"scan="` with the `acquisitionNum

[2017-05-30 08:24] jotsetung commented on #101
Just a notice: I'm presently looking into this.

[2017-05-31 05:54] jotsetung opened #106 "Improve header function in pwiz backend"
We need to improve the `header` method for the `pwiz` method as it has a terrible performance (see issue https://github.com/lgatto/MSnbase/issues/216 in `MSnbase`).
Reading all scan headers in one call is fine, but reading scan headers for multiple scans providing the scan index is very slow.

I'm currently looking into this.

[2017-05-31 09:08] jotsetung commented on #106
I re-implemented the `getScanHeaderInfo` and `getAllScanHeaderInfo` in the `pwiz` backend which improved its performance considerably.
See https://github.com/lgatto/MSnbase/issues/216 for the original tests. Previously, the `mzR::header(fpw, idx)` call with `idx` being the index of all spectra took **90** seconds on the test file. With the new implementation:

[code]
That's about the same speed as

[2017-06-01 11:34] jotsetung commented on #101
Update:
So far I managed to write spectrum data using the `pwiz` module. In detail, I have 2 functions ready:
+ `writeSpectrumList` takes the parameters `filename`, `format`, `header` and `data` and saves this as an e.g. *mzML* file. `header` has to be in the format as returned by the `mzR::header` method and `data` in the format as returned by `mzR::peaks`. Purpose is to write a simple *mzML* fil

[2017-06-03 19:19] lgatto commented on #101
I am generally fine with the above, as long as the files are valid at the end - I think there's a file validator in pwiz.

Regarding `copyWriteMSfile`,  one issue I see is that the data processing information in that raw file won't be correct any more after some additional processing.

[2017-06-03 19:30] jotsetung commented on #101
I think this should be OK as long as we add also the additional processing steps. I'm playing around a little with this at the moment to see what would be the best way to pass this information. Basically we can add 1) software (+version) to the mzML file and 2) data processing steps (linking to the software) and providing also their order.

We can discuss this also at CSAMA2017

[2017-06-07 06:42] #106 closed

[2017-06-11 07:58] nirshahaf opened #108 "Failure to install on Ubuntu 16.04.1"
Package installation works well on Win/MacOS/Ubuntu14.xx. However moving to Ubuntu 16.04.1 produces the following errors (after numerous warnings):

Which seems related to system dependencies. Is that a known issue?

### > sessionInfo()
R version 3.3.2 (2016-10-31)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 16.04.1 LTS

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC

[2017-06-12 06:36] sneumann commented on #108
Hi Nir, thanks for reporting. I am not aware of a failure to install on Ubuntu 16.04.1 per se,
as the BioC build machine http://bioconductor.org/checkResults/devel/bioc-LATEST/malbec1-NodeInfo.html
is also Ubuntu 16.04.1 .
Which version of mzR do you install, and how ? biocLite() ? Yours, Steffen

[2017-06-15 14:17] KorbinianBsl opened #110 "openMSfile terminates rstudio session"
The following terminates the session when ran in rstudio (both 1.0.143-2 binary extracted from .deb package and 1.1.271-1 compiled from git), but works fine in R without IDE:

library("mzR")
library("rpx")
px <- PXDataset("PXD000001")
fn <- "TMT_Erwinia_1uLSike_Top10HCD_isol2_45stepped_60min_01-20141210.mzML"
mzf <- pxget(px, fn)
ms <- openMSfile(mzf)

sessionInfo()
R version 3.4.0 (2017-04-21)
Pl

[2017-06-15 14:34] lgatto commented on #110
For information, [here](https://github.com/lgatto/bioc-ms-prot/issues/2) is a similar, possibly related, report.

[2017-06-15 17:41] thirdwing commented on #108
One possible reason is the boost lib in your system has different version from what is embedded in mzR.

[2017-06-16 07:58] jotsetung commented on #110
@KorbinianBsl Is there any log file in Rstudio with some more information or a traceback? Or any other messages on the R console?

[2017-06-16 09:03] KorbinianBsl commented on #110
Apparently it is an issue with boost
lldb for rsession

* thread #1, name = 'rsession', stop reason = signal SIGSEGV
    frame #0: 0x00007fbf8ec93f4d libboost_filesystem.so.1.64.0`boost::filesystem::detail::status(boost::filesystem::path const&, boost::system::error_code*) + 29
libboost_filesystem.so.1.64.0`boost::filesystem::detail::status:
->  0x7fbf8ec93f4d <+29>: movq   (%rsi), %rsi
    0x7fbf

[2017-06-16 13:30] nirshahaf commented on #108
Thanks Steffen and KK for your replies. It seems to be Boost version related, because the error reads:
_"boost/thread/src/pthread/thread.cpp:140:88: error: no matching function for call to ‘call_once(boost::once_flag&, void (&)())’ "_
So, according to the README here, mzR-2.9.1 uses **boost-1.59** , while the official Debian precompiled package is still **boost-1.58** ('aptitude search libboost').

[2017-06-16 13:41] lgatto commented on #108
I would not advise to go for an older version of `mzR`, as this might lead to other problems, and there is not guarantee that an older version has boost-1.58. I would try to install boost-1.59 on debian.

[2017-06-16 13:44] sneumann commented on #108
Actually, mzR comes with built-in boost, and should not need/use a system-installed boost in first place.

[2017-07-17 07:49] jotsetung opened #112 "Modify/improve the RcppPwiz getPeakList method"
Background on this:
- on some files, and also randomly (but reproducibly) `mzR::peaks` fails to read the mz-intensity pairs (see issue https://github.com/lgatto/MSnbase/issues/170 in `MSnbase`.

A call to `mzR::header` prior to `mzR::peaks` fixed this, but is performance-wise not an ideal solution.

I'll thus dig deeper into the code to see if I can fix that within `mzR`.

[2017-07-17 07:51] jotsetung commented on #112
First observation: calling `mzR::peaks` does use an `sapply` loop in R to extract each spectrum individually from an mzML/mzXML file. Improvement on this could be to move that loop to the C++ code.

[2017-07-17 07:56] jotsetung commented on #112
Reading the mz and intensity arrays separately from the (pwiz) `msdata::spectrum`: sometimes the mz array or the intensity array is of 0 length. While it is not clear why that's the case, descriptions within `pwiz::MSData.hpp` say:
[code]
The `"delay loading of binary data"` is puzzling - but might be the reason for the problem?

[2017-07-18 11:01] jotsetung commented on #112
One update so far:
+ calling `s = slp->spectrum(current_scan -1, false);` followed by `s = slp->spectrum(s, true);` seems to reduce the number of random errors - but does not (yet) remove them completely. This approach might be somehow related to the currently working solution, for MSnbase issue 170, i.e. to read first the header and then the peaks.
+ The option described above, i.e. to extract th

[2017-07-18 12:56] jotsetung commented on #112
Note that `peaks` works without any problems on linux. On Mac however, no matter if using a manually compiled version of R or the official R, these errors and problems occur. Eventually related to GCC vs clang?

[2017-07-19 12:27] jotsetung commented on #112
The *best* solution to the fix seems to be to read in the C++ function called by `mzR::peaks` the header information of the last scan before loading the actual spectra data (i.e. the mz and intensity values).
This solution is however not ideal since a) it mixes the concept of reading *header* and *peaks* separately (as is no longer does this) and b) it has a very bad performance on *mzXML* files (

[2017-07-19 12:47] lgatto commented on #112
Thank you very much for all your efforts with this!

[2017-07-19 12:53] jotsetung commented on #112
In the end I really believe the issue I came across is mac specific (and eventually also related only to ABI converted mzML files...). I think we might even switch back (in MSnbase) to use simply `mzR::peaks`.
I could squeeze eventually some more milliseconds out of it to improve the performance slightly though.

[2017-07-31 14:50] sneumann opened #113 "getInstrumentInfo() fails for Waters xevo tof g-2xs"
Hi, @nsadawi reported that mzR fails to read

[code]
with traceback:
[code]

The error is thrown in
https://github.com/sneumann/mzR/blob/master/src/pwiz/data/msdata/MSData.cpp#L165

The file was converted with `<software id="pwiz_Reader_Waters" version="3.0.10998">`
and shows this instrumentConfiguration:
[code]
Yours, Steffen

[2017-07-31 15:04] sneumann commented on #113
`msconvert testfile.mzML --mzXML -o /tmp` works fine.
`mscat testfile.mzML | wc -l` works fine.
OpenMS reports:
[code]

[2017-08-01 12:27] jaketmp commented on #113
As an additional datapoint, we see the same error running Xevo G2-S and Synapt G2-S data through the same pipeline. Happy to provide example datafiles if needed.

[2017-08-02 08:23] sneumann commented on #113
A bit more diagnostics:
While the presence of `<detector>` is mandatory inside a `<componentList>` according to http://www.peptideatlas.org/tmp/mzML1.1.0.html#componentList,
the presence of the `<componentList>` itself inside `<instrumentConfiguration>` is not mandatory (http://www.peptideatlas.org/tmp/mzML1.1.0.html#instrumentConfiguration).

mzR is is calling the LegacyAdapter_Instrument in
http

[2017-08-02 08:49] sneumann commented on #113
Small file to reproduce, this is the file MM14.mzML from http://bioconductor.org/packages/release/data/experiment/html/msdata.html with the `<componentList>` removed manually in an editor.
[code]
[MM14-withoutComponentList.zip](https://github.com/sneumann/mzR/files/1193221/MM14-withoutComponentList.zip)

[2017-08-02 12:17] stanstrup commented on #66
I'm looking for this too... Very useful for looking at batch drifts.

[2017-08-02 16:28] lgatto commented on #113
This is with the `pwiz` backend, right?

[2017-08-02 21:00] sneumann commented on #113
Yes, thats pwiz. Yours Steffen

---
I blame Android for the brevity and typos

[2017-08-03 05:26] jotsetung commented on #101
Done with the merge of https://github.com/sneumann/mzR/pull/111

[2017-08-03 05:26] #101 closed

[2017-08-03 10:43] nsadawi commented on #113
Same here, it's all xcms backend
Regs, Noureddin

[2017-08-03 11:58] jotsetung commented on #113
I'll have a look at it. In worst case we could make a `try-catch` around.

[2017-08-03 16:52] lgatto commented on #113
Merged into master and pushed to Bioc devel.

[2017-08-03 16:52] #113 closed

[2017-08-03 16:53] lgatto commented on #66
Merged into master and pushed to Bioc devel.

[2017-08-03 16:53] #66 closed

[2017-08-03 16:59] jotsetung commented on #113
Just a question, are you now pushing to Bioc git or still svn?

[2017-08-03 17:28] jotsetung commented on #113
OK, thanks!

[2017-08-04 10:56] nsadawi commented on #113
This is to confirm it now works nicely
For the general benefit, I'm using a MacBook Air
I needed to install `netcdf` via `macports`
and then `install_github("sneumann/mzR",force = TRUE)`
I also installed `RNetCDF`

Many thanks,
Noureddin

[2017-08-07 19:20] sneumann commented on #113
Brian Pratt added a fix to the pwiz code, see
https://sourceforge.net/p/proteowizard/code/11174/tree//trunk/pwiz/pwiz/data/msdata/LegacyAdapter.cpp?diff=50de01fe34309d7d5acfb788:11173

[2017-08-07 19:59] sneumann commented on #113
with the patch in #116 we now get
[code]

[2017-08-08 15:30] AaronStorey opened #117 "openMSfile crashes R and Rstudio with Ramp backend"
I've encountered a few .mzML files which reproducibly crash both base R and Rstudio when I open these files with the Ramp backend.  I can open the files with the pwiz backend and can run a few header and peaks arguments, but I eventually encounter this message:

Error in object@backend$getScanHeaderInfo(x) :
  [SpectrumList_mzML::create()] Bad istream.

I am happy to upload the .mzML file somewher

[2017-08-11 05:37] danielriosgarza commented on #108
I have the exact same problem on Ubuntu 16.04

[2017-08-11 12:12] sneumann commented on #108
Hi, I can't confirm on Debian, using `docker run -it bioconductor/devel_protmetcore2 bash`
[code]
works nicely. I'll try to find an Ubuntu 16.04.x

[2017-08-13 14:54] HinTak opened #118 "mis-documentation and removal of mz5 support in 2014-07-11 / 84a4b1664"
Some of the online documentation of mzR (version 2.6.2?) claims that mzR support mz5 . I am using the development version of R and therefore the development version of bioconductor. Found that it is not working:

[code]

Found that you explicitlly disable MZ5 support in `src/Makevars`:

[code]

So I traced the origin of that line backwards, and apparently it was done over two years ago as part of

[2017-08-13 14:56] HinTak commented on #118
FYI, dev version of Bioconductor ships mzR_2.10.0 .

[2017-08-13 16:52] HinTak commented on #118
This seems to be some sort of confusion - mz5 support was removed in May 26 18:28:05 2014, added back in Jun 25 22:13:35 2014, and removed again in July 11 2014.

[2017-08-13 21:28] HinTak commented on #118
I am not sure why I was removed - the only guess I can make is that it requires the cpp version of hdf5, which is a rare library to install. Anway, I seem to have come up with about half-a-dozen lines of code change which works:

[code]

So I write a proper log entry and issue a pull.

[2017-08-13 22:15] HinTak commented on #118
The travis-ci server does not have hdf5_cpp headers. One way of improving it is to make the configure script auto-detect.

[2017-08-14 19:21] #118 closed

[2017-08-14 20:06] HinTak commented on #118
Why is the issue closed? There is at least the issue of properly documenting the lack of mz5 support, even if the current state is considered "acceptable".

[2017-08-14 20:28] HinTak opened #121 "mis-documentation and removal of mz5 support in 2014-07-11 / 84a4b1664"
Keep the issue until it is documented clearly that mz5 support was removed.
See last comment of https://github.com/sneumann/mzR/issues/118

[2017-08-15 07:57] #121 closed

[2017-08-15 11:25] HinTak commented on #121
No explanation? I guess that explains why it isn't documented.

[2017-08-15 11:27] HinTak opened #122 "mis-documentation and removal of mz5 support in 2014-07-11 / 84a4b1664"

[2017-08-15 11:39] lgatto commented on #121
See the commit message for details - please follow up with **technical** discussion in relevant PR.

[2017-08-15 12:02] HinTak commented on #121
The pull and the issue are separate - in the short term you still need to document the lack of mz5 support. And if this is how you do things, I might withdraw and close the pull. https://github.com/sneumann

[2017-08-15 12:03] HinTak opened #123 "mis-documentation and removal of mz5 support in 2014-07-11 / 84a4b1664"

[2017-08-15 12:03] HinTak commented on #123
I

[2017-08-15 12:05] HinTak commented on #123
I guess piling on the issue is a way of documenting. @sneumann

[2017-08-15 12:20] HinTak commented on #121
That's not enough. Stop mentioning a feature is not the same as explicitly stating that you have crippled a feature offered by ProteoWizard.

[2017-08-15 17:53] prvst commented on #108
Hi @sneumann ;

I also confirm the issue. I'm running a server with Ubuntu 16.04.3. Dev tools and Boost library installed (Version: 1.58.0.1ubuntu1)

[2017-08-15 19:41] sneumann commented on #99
Hi, there is a binary `/usr/bin/nc-config` that is part of Linux package `libnetcdf-dev`.
During compilation of mzR this can point to the header files and include files:
[code]
if that file is not present, mzR omits the include paths, hoping/expecting they are available.
So the `command not found` is just a cosmetic issue if the rest of the compilation succeeds.
Yours, Steffen

[2017-08-15 19:41] #99 closed

[2017-08-16 10:55] sneumann commented on #108
Hi, indeed, there is a compilation/compatibility issue that we already had in #27 , #40, and #86
(just listing these here to link them together, so that it is easier to find the solution from any of them).
I should start to extend the simple compatibility list in https://github.com/sneumann/mzR/blob/master/README.md with a compatibility *matrix* between operating systems and mzR versions.

The und

[2017-08-16 14:48] asuccurro commented on #108
Hello,

I just found this thread thanks to a linked issue, also trying to install xcms on Ubuntu 16.04. I confirm that updating to R version 3.4.1 and [reinstalling bioconductor](http://bioconductor.org/install/#troubleshoot-bioconductor-packages) works.

Thanks!
antonella

[2017-08-16 18:06] prvst commented on #108
I just updated my R version to 3.4.1 and it also worked for me.

Thanks

On Wed, Aug 16, 2017, 10:48 AM Antonella Succurro <notifications@github.com>
wrote:

--
Felipe da Veiga Leprevost, Ph.D.
www.leprevost.com.br
Proteome Bioinformatics Lab
University of Michigan

[2017-08-17 05:57] sneumann commented on #108
Thanks for the feedback, closing it then. Yours, Steffen

[2017-08-17 05:57] #108 closed

[2017-08-17 18:25] colinbrislawn commented on #50
Good afternoon,

I think I just got this error when trying to install `mzR` from bioconductor.

[code]

Is there a good programmatic way to install this? Thanks!

[2017-08-17 18:56] sneumann commented on #50
Hi, you will need to install the netcdf development files,
which include the netcdf.h header. Not sure how OSX does that, `brew` ?

[2017-08-17 19:05] colinbrislawn commented on #50
OK, I can install `netcdf`. I just saw you listed this and everything. My mistake. 🙄
`SystemRequirements | C++11, GNU make, NetCDF 
`

Is there a good way to deploy `mzR` from binary, without a full build environment? That would make it a lot easier to share this software colleagues, especially those using Windows.

Thanks! I'm looking forward to trying this software.

[2017-08-17 20:17] sneumann commented on #50
Depends on OS and your usage of `biocLite()`, see manpage
http://web.mit.edu/~r/current/arch/i386_linux26/lib/R/library/BiocInstaller/html/biocLite.html

Windows can install from binary built ZIP, for Mac OS X 10.11 (El Capitan)
there is also a binary build, Linux will always build from source.
Yours, Steffen

[2017-09-05 05:44] #112 closed

[2017-09-05 05:53] jotsetung opened #124 "Report the spectrum ID in the header"
This issue is related to https://github.com/sneumann/xcms/issues/216 . Basically, the mzML files can not be processed as they are and it would be nice to split/filter mzML files converted from Waters' multi-function raw data format (see referenced issue for more details).

As of now, the only way to determine which spectrum is related to which function is by its ID:
[code]

Currently it is not pos

[2017-09-05 08:20] lgatto commented on #124
Yes, that would be a great addition to have the function, but I am a bit confused as to what you want to add. Would that be a `spectrumId` character column that contains `"function=4 process=0 scan=1"`?

I would suggest to have 3 new  feature variables, namely `function` (the one of interest), `process` and `scan`, or, if you prefer, prefix them and use `spectrumIdFunction`, `spectrumIdProcess` an

[2017-09-05 08:45] jotsetung commented on #124
I suggested to add the full id (character string) as it is written in the mzML file as a `spectrumId` column to the header `data.frame`. I would let any further processing of that to the user - the id is not always formatted in the same way, my mzML files have e.g.
[code]

[2017-09-05 09:11] lgatto commented on #124
Oh dear, so much for consistency. Ok then, a character it is :-/

[2017-09-05 09:19] jaketmp commented on #124
The content of `id=` seems to be defined in the [psi-ms-cv](https://github.com/HUPO-PSI/psi-ms-CV/blob/master/psi-ms.obo) on a vendor-by-vendor basis:

[code]
For Waters:
[code]
Doesn't look like much cross vendor harmony though.

[2017-09-05 09:22] jotsetung commented on #124
Yes, it's pretty inconsistent. proteowizard must create this ID based on some (?) criteria but I don't know which. And no idea what manufacturer's software (if they convert to mzML) would use as ID.

Also, the `mzXML` format does not seem have such an ID. So, if we're going to return a `header$spectrumId` this will only have a meaningful value for `mzML` files read with the `pwiz` format. `ramp` a

[2017-09-05 09:27] jotsetung commented on #124
Just as an info:
Thermo has: `<spectrum index="0" id="controllerType=0 controllerNumber=1 scan=1" defaultArrayLength="10" dataProcessingRef="pwiz_Reader_Thermo_conversion">`.

Than I have a Bruker file with: `<spectrum index="0" id="scan=1" defaultArrayLength="837">`

[2017-09-05 09:54] jaketmp commented on #124
I count 24 distinct `is_a: MS:1000767` in the PSI CV - can't see anything that attempts to map the contents of the string to a common set of terms though.

They do define a case for where no id is available for compatibility with mzXML though, that could serve where this is not defined:

[code]

[2017-09-05 10:22] jotsetung commented on #124
Thanks @jaketmp . So, for all files/backends instead of `pwiz/mzML` we would return `"scan="<acquisitionNum>` as ID.

[2017-09-06 14:10] jotsetung commented on #124
Note: I have also to check if I can actually **write** the id too with pwiz.

[2017-09-06 17:13] colinbrislawn commented on #50
Thank you for your feedback. I've got it working on OSX!

While I could not install the binary, your suggestion of [Homebrew](https://brew.sh/) worked great.

`brew install netcdf`
[code]

Now let's try Windows...

[2017-09-06 18:38] sneumann commented on #50
Thanks, I added the macOS instructions under https://github.com/sneumann/mzR/pull/125
Can you remind me why on macOS installing the binary

Mac OS X 10.11 (El Capitan) from http://bioconductor.org/packages/3.6/bioc/bin/macosx/el-capitan/contrib/3.4/mzR_2.11.7.tgz
did not work ?

[2017-09-06 19:52] sneumann opened #126 "mzR Unimod.cpp kills gcc-4.9"
Hi, on Debian 8.6 the compilation of Unimod.cpp kills gcc-4.9.2-10 if the `CPPFLAGS` do NOT contain optimisation like `-O2`. This is the case for e.g. Conda packages, where the `/opt/conda/lib/R/etc/Makeconf` CPPFLAGS don't contain optimisation.
Current workaround is to unzip mzR sources, and edit the PKG_CPPFLAGS

[code]

[2017-09-06 20:29] sneumann commented on #126
Ah, seems that >2GB memory are needed for compilation, which were unavailable in that Docker container.

[2017-09-06 20:29] #126 closed

[2017-09-07 11:25] jotsetung commented on #124
Reading the spectrum/scan ID was actually very helpful - I could fix now a potential problem when writing MSn data to mzML or mzXML causing a mis-match of MSn spectra with precursor spectra

[2017-09-08 05:59] jotsetung commented on #124
Pull request is in - waiting for the review.

[2017-09-08 14:30] lgatto commented on #93
Sorry, missed this one. This is a warning that can be ignored, and probably disappeared now as we have pushed changes and mzR got built against a newer Rcpp on Windows and Mac.

[2017-09-08 14:30] #93 closed

[2017-09-08 14:31] #87 closed

[2017-09-08 14:32] #74 closed

[2017-09-08 14:34] lgatto commented on #105
I think this has now been addressed, since the new `spectrumID` variable in the header. If so, @jotsetung, could you close?

[2017-09-08 14:34] lgatto commented on #124
Merged. Thank you @jotsetung!

[2017-09-08 14:34] #124 closed

[2017-09-08 16:49] jotsetung commented on #105
Yup, will do. To clarify: precursorScanNum links in fact to the acquisition number of the precursor spectrum.

[2017-09-08 16:49] #105 closed

[2017-09-08 17:48] lgatto commented on #105
Wouldn't it make sense to explain all these details in the man page, ad similar questions come up regularly.

Maybe also in `MSnbase` somewhere in relation to how identification data is matched with the raw data.

Cc @sgibb

[2017-09-08 17:51] jotsetung commented on #105
I'll add it in the mzR man page.

[2017-09-13 16:59] jotsetung opened #129 "SEGFAULT in writeMSData/copyWriteMSData"
`writeMSData` and `copyWriteMSData` cause a SEGFAULT if MS data with MSn spectra referring to missing MS1 spectra are provided. An example for such data would be a MSn data set after filtering for a specific MS level.

I will fix that.

[2017-09-16 19:25] SiggiSmara opened #131 "sqlite support?"
I might be potentially be putting my foot in my mouth for porposing this so let me know if that is the case, but have you considered adding sqlite support, either based on previous work such as the now potentially gone [YAFMS](http://www.sciencedirect.com/science/article/pii/S1044030510004435)  (at least I can't find any source files)  or [mzDB](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4349994

[2017-09-16 20:11] jotsetung commented on #131
There have been already some discussions on that. A strong argument for me to stick to mzML and mzXML is that they are relatively stable standard formats and I would avoid converting the MS data to yet another file format that is not cross platform and cross software compatible.

Regarding speed, I have compared once (indexed) SQLite database access time and access times from an original mzML file

[2017-09-16 20:50] lgatto commented on #131
While `mzR` is the format that we used (not because it is elegant and efficient, but because it is widely known and used), I think it would be interesting to have support for SQLite-based MS data. I met with the `mzDB` author some time ago, and I mentioned my interest, but I don't think the C++ bindings were complete or documented at the time. Also, I don't remember of the conversion to `mzDB` was

[2017-09-17 18:19] SiggiSmara commented on #131
It is definitely a valid concern to introduce another format for MS data given the history of open standard MS data formats. That said, everyone is using the current formats for the reasons both of you mention, namely stable, known and used, not because they necessarily fit the purpose of data analysis.

 I haven't been entirely convinced on the two approaches I mentioned above, and I haven't look

[2017-09-18 08:04] jotsetung commented on #131
I could dig out my tests I've done last year to compare SQLite *vs* mzML and do some more checks. If this would increase speed we could think of a third `mode = "inSQLite"` or something similar, i.e. during data processing the data is stored in `SQLite` file format. But there, updating values in a SQLite database can be quite time consuming too, especially if there are indices in place.

I would d

[2017-09-18 11:39] SiggiSmara commented on #131
I would suggest using previously published data sets that have been used for speed testing. One such data set is found in the [MS-numpres](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4047472/) paper. Direct link to it is here [http://webdav.swegrid.se/snic/bils/lu_proteomics/pub/ms-numpress/](http://webdav.swegrid.se/snic/bils/lu_proteomics/pub/ms-numpress/). Another perhaps ignorant
 but related

[2017-09-25 09:32] josuat commented on #100
I can confirm the same issue on a Redhat 6.7 with GCC 4.4.7 and boost 1.41.0 installed. I got the same missing file `boost/detail/fenv.hpp`. Can't tell if any other files are needed apart from that but I managed to install once I downloaded the mzR source package 2.10.0 from Bioconductor and replaced the boost files with a separately downloaded complete copy of boost 1.59

[2017-10-04 05:53] sgibb opened #134 "peaks and spectra have a scans argument that is not documented"
`peaks` and `spectra` have a `scans` argument that is not documented in the *Usage* section. In the *Arguments*/*Details* section you find the hint that it is supported.

https://github.com/sneumann/mzR/blob/60e3945ef3ba207274ef1daea26e3c4219361e19/man/peaks.Rd#L48-L50

Could it be added to the *Usage* section as well?

[2017-10-04 06:37] jotsetung commented on #134
Nope, we can not add scans to the usage section for `spectra` and `peaks`, since the argument is not present in its generic: `setGeneric("peaks", function(object, ...) standardGeneric("peaks"))` defined in `ProtGenerics`

`header` on the other hand (defined in `mzR`) has: `setGeneric("header", function(object, scans, ...) standardGeneric("header"))`

[2017-10-04 17:35] sgibb commented on #134
I don't want to be nitpicking but `\S4method{peaks}{mzRpwiz}(object, scans)` works. In fact in the current *usage* section just the generic is documented (that moved to `ProtGenerics`) and the S4 methods are just aliases which the user never sees. I can understand that multiple `peaks` entries `\S4method{peaks}{mzRramp}(object, scans)`, `\S4method{peaks}{mzRpwiz}(object, scans)`, ... are not prett

[2017-10-05 09:25] lgatto commented on #134
I think it would be good to be more explicit. We do mention it in `scans` in the arguments section, but that is a bit cryptic; there isn't even a useful example at the end.

@sgibb - I am happy to merge a PR with the `\S4method{peaks}{mzRpwiz}(object, scans)` and an updated example if you have time, otherwise I'll do it.

[2017-10-18 10:15] lgatto opened #136 "mzid files exported from different software"
I am reporting here several problems of various importance (and consequences) and haven't managed to look into each of them. I hope someone will be able to provide some input.

## The data

Searching the small data from [PXD000001](http://ftp.pride.ebi.ac.uk/pride/data/archive/2012/03/PXD000001/) using the database provided in that project. It was searched with

- MSGF+, exported as mzID - `TMT_Er

[2017-10-27 11:51] lgatto commented on #134
Has this been addressed?

[2017-10-27 12:02] jotsetung commented on #134
I didn't.

[2017-11-12 19:38] bgruening commented on #100
We see the same now in bioconda when we try to update to the new version:
[code]

[2017-11-17 16:55] lgatto commented on #100
@kasperdanielhansen - from the `checkoutpwiz.sh` file, it seems that boost 1.58.0 was included and that the code in `boost_aux` comes from the proteowizard code base.

I can't replicate these errors as I'm still running an older OS, but would anyone be able to test if I added a list of files (you of anyone would point me to) to a github branch?

[2017-11-19 22:13] sneumann commented on #100
Hi, if people point me to a dockerfile with prerequisites installed where mzR fails,
I can quickly fix this. @bgruening what bioconda command will trigger the issue ?
Yours, Steffen

[2017-11-20 09:44] bgruening commented on #100
I was finally able to build it: https://github.com/bioconda/bioconda-recipes/blob/master/recipes/bioconductor-mzr/meta.yaml

Here is the container: https://quay.io/repository/biocontainers/bioconductor-mzr

[2017-11-20 15:53] esiefker opened #137 "Does not build in Cygwin"
biocLite("mzR")Bioconductor version 3.6 (BiocInstaller 1.28.0), ?biocLite for help

BioC_mirror: https://bioconductor.org
Using Bioconductor 3.6 (BiocInstaller 1.28.0), R 3.4.2 (2017-09-28).
Installing package(s) ‘mzR’
trying URL 'https://bioconductor.org/packages/3.6/bioc/src/contrib/mzR_2.12.0.tar.gz'
Content type 'application/x-gzip' length 5420945 bytes (5.2 MB)
===============================

[2017-11-20 15:55] esiefker commented on #137
[code]

[2017-12-02 19:37] sneumann commented on #100
Hi @bgruening , how did you get the bioconda build to work ?
Is there anything left we can do in mzR to improve things ?
I am still lacking a build environment to reproduce the failures in this issue.
Yours, Steffen

[2017-12-02 20:16] bgruening commented on #100
Hi @sneumann!

See her: https://github.com/bioconda/bioconda-recipes/blob/master/recipes/bioconductor-mzr/meta.yaml

You are missing some annotations in your package description.

[2017-12-04 17:09] wilsontom opened #141 "header support for chromatograms"
This is more of a feature request than an issue.

Now that `mzR` supports chromatogram data such as SRM-MS; it is possible to extend some of the functionality of `header` to chromatograms. At present there is no "easy" way of retrieving parent/product masses and polarity _via_ `mzR`.

Thanks

Tom

[2017-12-04 17:19] lgatto commented on #141
Have you looked at [`Chromatogram`](https://lgatto.github.io/MSnbase/reference/Chromatograms-class.html) objects in `MSnbase`? Does that do what you want?

[2017-12-04 17:54] wilsontom commented on #141
The structure of the `Chromatogram` class is ideal for representation of the chromatograms; but I was thinking of a method for populating this class directly from a `.mzML` file.  Currently the only information for chromatogram headers is stored in the names of chromatograms which requires manual parsing;

[code]
Polarity, parent and product mass are all contained in the  `</chromatogram>` block o

[2017-12-04 17:59] lgatto commented on #141
See the [`chromatogram` method](https://lgatto.github.io/MSnbase/reference/chromatogram-MSnExp-method.html), that creates (extracted ion) chromatograms one or multiple a raw data files. This is the convenient higher-level version of what you use in `mzR`.

[2017-12-04 18:45] wilsontom commented on #141
I am unable to open the file using `MSnbase::readMSData`

[code]

[2017-12-04 20:17] lgatto commented on #141
What's your `sessionInfo()`? Have been able to successfully run the example code? Is your test file accessible so that we can try it out?

[2017-12-04 21:08] wilsontom commented on #141
The `MSnbase` example runs fine. `sessionInfo()` as follows;

[code]
The test file is [here]( https://github.com/wilsontom/MRMConverteR/blob/master/inst/extdata/)

[2017-12-04 22:48] lgatto commented on #141
Yes, it fails because it is not a raw MS data file, but a file containing (extracted ion) chromatograms. I don't remember if we have a constructor for these - @jotsetung, do you know?

[2017-12-05 06:55] jotsetung commented on #141
so far the `chromatogram` functionality (in `MSnbase`) is only to create chromatographic data from a MS file containing spectra. Reading the `chromatogram` directly from the mzML would require hacking into `mzML`. I haven't had a look at how such data could be read. I assume proteowizard supports it, so it should not be impossible but would require major changes.

[2017-12-05 07:09] lgatto commented on #141
I was rather thinking of a `readChromData` function that creates a `Chromatograms` object.

[2017-12-05 07:10] lgatto commented on #141
@wilsontom - I am closing this issue as it doesn't apply to `mzR` anyway. Feel free to follow up in a new `MSnbase` issue.

[2017-12-05 07:33] lgatto commented on #141
Re-opening issue, as I conflated two things here. @wilsontom, what is the CV terms you are looking for?

[2017-12-05 08:59] wilsontom commented on #141
precursor mass, product mass and polarity are the key things to extract.

precursor and product masses are identified in the `.mzML` file as `name="isolation window target m/z"` with `accession="MS:1000827"` in either a `<precursor>` or `<product>` block.

Polarity is in the `<chromatogram>` block, and given as either `negative scan; accession="MS:1000129"` or `positive scan; accession="MS:1000130

[2017-12-06 13:27] jotsetung commented on #141
So, it will be a `chromatogramHeader` and `chromatogram` method in `mzR` to extract chromatographic data?

[2017-12-06 13:43] jotsetung commented on #141
OK, wasn't aware that there is a `chromatogram` method that does in fact read (all) chromatogram data. So, there is *only* reading the header left...

[2017-12-11 09:33] jotsetung commented on #141
OK, pull request is in. @wilsontom, could you please check if that works for you. Once the code is in `mzR` I will then add functionality to `MSnbase` to read chromatographic data from a mzML (something like a `readChromatograms` function).

[2017-12-13 19:38] jmorim commented on #100
Also having this issue and could only install through conda

[2017-12-14 07:51] sneumann commented on #100
Hi, I still can't reproduce locally. I also think there are two separate issues here,
one is the missing `boost/detail/fenv.hpp`. I need an environment (e.g. docker container)
where that happens, as usually it is not just one file like `fenv.hpp`, but there are more missing
once we get over that. The other thing is the missing annotations `bioconductor-zlibbioc` and `r-ncdf4`
not in DESCRIPTION. S

[2017-12-18 11:49] wilsontom commented on #141
Apologies for the delay getting to this. Thanks very much @jotsetung.

`chromatogramHeader` works OK; except that the polarity coding for negative and TIC are switched.

All positive chromatograms are `1` but negative chromatograms are coded as `0` and the TIC as `-1`.

Thanks

Tom

[2017-12-18 12:23] jotsetung commented on #141
polarity encoding is a little tricky (see also https://github.com/sneumann/mzR/issues/46). was also confused at the beginning, but positive is encoded as `+1`, negative as `0` and unknown as `-1`.

[2017-12-18 12:25] wilsontom commented on #141
Ah, my mistake.

I'll close the issue now, as this is all working perfectly.

Thanks again

Tom

[2017-12-18 12:25] #141 closed

[2017-12-18 13:27] jotsetung commented on #141
Note that the implementation to read and represent SRM/MRM data is on its way also in `MSnbase`.

[2017-12-22 12:01] #129 closed

[2017-12-23 11:24] #134 closed

[2017-12-23 11:41] sgibb opened #143 "mzR fails to build on bioc devel windows (hdf5 related)"
Since some time `mzR` fails to build from source on windows and bioc devel because of a missing hdf5 cpp header file ([build report](https://bioconductor.org/checkResults/devel/bioc-LATEST/mzR/tokay2-install.html)):
[code]

The same error was present on Travis and my local machine which could be solved by adding libhdf5-dev as new dependency: https://github.com/sneumann/mzR/blob/4c1f1d63054c44087e

[2018-01-03 22:30] sneumann commented on #143
Hi,
following the suggestion by Martin Morgan on https://stat.ethz.ch/pipermail/bioc-devel/2018-January/012576.html I have started the branch https://github.com/sneumann/mzR/tree/feature/LinkToRhdf5lib
Note: since pwiz is including `#include "H5Cpp.h"`rather than `#include "c++/H5Cpp.h"` we need to find a fix for https://github.com/grimbough/Rhdf5lib/issues/5
Locally I have worked around that by `

[2018-01-04 09:51] sneumann commented on #143
With some more workarounds on the travis side, I now have a successful build at https://travis-ci.org/sneumann/mzR/builds/324953759

[2018-01-09 18:42] #122 closed

[2018-01-09 18:42] #123 closed

[2018-01-11 21:02] sneumann commented on #143
Fixed now in 2.13.3

[2018-01-11 21:02] #143 closed

[2018-01-11 21:04] sneumann commented on #94
Hi, the warning is still present on windows, but can't simply remove `-fpermissive`,
followup in #98 . Closing this as duplicate.

[2018-01-11 21:04] #94 closed

[2018-01-25 16:30] Biospec commented on #100
I have had the same problem. I solved it by download the source code, unpack and manually copy fenv.hpp from locally installed boost library located at /usr/include/boost/detail/ to mzr/src/boost/boost/detail, then packed again and installed it in R from archive successfully. My system is ubuntu 16.04, hope it helps.

[2018-02-23 20:27] sneumann opened #145 "Checks fail: mzXML export does not support writing filter string"
All plattforms: http://bioconductor.org/checkResults/devel/bioc-LATEST/mzR/malbec2-checksrc.html
[code]

[2018-02-25 00:56] shubham1637 commented on #108
I tried to install mzR through github, but I see following issue.

library(devtools)
install_github("sneumann/mzR")
Downloading GitHub repo sneumann/mzR@master
from URL https://api.github.com/repos/sneumann/mzR/zipball/master
Installing mzR
'/usr/lib/R/bin/R' --no-site-file --no-environ --no-save --no-restore --quiet CMD INSTALL  \
  '/tmp/RtmpSwWgq6/devtools5123229823a8/sneumann-mzR-ac131c3' --li

[2018-02-25 19:06] lgatto commented on #108
@shubham1637 - next time, please open a new issue for new/different questions.

Could you install the package with
[code]
as this will install the version of `mzR` that is compatible with your R/Bioconductor version. Your current effort tries to install the development version of `mzR` with a stable version of Bioconductor, which leads to the the incompatibility you document above.

[2018-02-25 19:07] lgatto commented on #145
@jotsetung - have you seen this? That is expected, isn't it, as only `mzML` write is supported?

[2018-02-25 19:10] shubham1637 opened #146 "mzR installation issue "Failed to lock directory" in R version 3.4.3"
BioC_mirror: https://bioconductor.org
Using Bioconductor 3.6 (BiocInstaller 1.28.0), R 3.4.3 (2017-11-30).
Installing package(s) ‘mzR’
trying URL 'https://bioconductor.org/packages/3.6/bioc/src/contrib/mzR_2.12.0.tar.gz'
Content type 'application/x-gzip' length 5420945 bytes (5.2 MB)
==================================================
downloaded 5.2 MB

ERROR: failed to lock directory ‘/home/shubha

[2018-02-25 19:11] shubham1637 commented on #108
Sorry! I just opened a new issue.

Thanks!

[2018-02-25 20:10] sneumann commented on #146
That is a leftover from the failled installation,
`rm -rf /home/shubham/R/x86_64-pc-linux-gnu-library/3.4/00LOCK-mzR`
Yours, Steffen

[2018-02-25 20:16] shubham1637 commented on #146
I removed that part. If I run again, it kind of gets stuck in an infinite loop.
I had to terminate the R-session.
BiocInstaller::biocLite("mzR")

   explicit scoped_ptr( std::auto_ptr<T> p ) BOOST_NOEXCEPT : px( p.release() )
                               ^
In file included from /usr/include/c++/5/bits/locale_conv.h:41:0,
                 from /usr/include/c++/5/locale:43,
                 from .

[2018-02-25 20:31] lgatto commented on #146
Compiling `mzR` from source (which is what is done on GNU/Linux) does take quite a bit of time - possibly 10 minutes. I have never seen any compilation of the package getting stuck; it generally finishes successfully (possibly with warnings or notes) or with errors. How long did you wait?

[2018-02-25 20:49] shubham1637 commented on #146
My bad! I didn't wait long and assumed that it was repeating the same action. But, if it takes that long, the package, maybe, can print how much is done in %.
I have it installed now.

[2018-02-25 20:49] #146 closed

[2018-02-25 21:33] sneumann commented on #146
Printing percentage is not under the control of a package, that depends on the Make system used by R.

[2018-02-26 07:47] jotsetung commented on #145
pwiz supports `mzXML` export, so it is supported. Could be related to some recent changes in `msdata` (i.e. new files there)? I'll look into it.

[2018-02-26 09:04] jotsetung commented on #145
Writing `mzXML` actually works - throws just warnings.

[2018-02-26 10:29] jotsetung commented on #145
The error came actually from another unit test. I fixed that and added some more changes that would eventually have resulted in error.

[2018-03-01 16:05] #145 closed

[2018-03-01 16:11] lgatto commented on #137
I don't think anyone of us has evert tried/tested `mzR` on Cygwin, and I don't think we will officially support it. I imaging your error is related to the build tools (in particular `gcc`) that you have on Cygwin, and whether they are compatible/similar to what we have on linux distributions.

[2018-03-01 16:13] lgatto commented on #102
Please provide more details, otherwise we won't be able to help.

[2018-03-01 16:13] #102 closed

[2018-03-01 19:37] sneumann commented on #102
This is a warning that is probably harmless but that clobbers the compiler output:
http://bioconductor.org/checkResults/devel/bioc-LATEST/mzR/tokay2-install.html

[2018-03-02 16:00] Ru13en opened #148 "Installing mzR on Alpine Docker with R"
Hi,
I don't know if is some missing dependency or any other problem related with the mzR.
When i try to install mzR package on R, i have the next issue:

[code]

I tried using the biocLite but gives that error.
If i install mzR using the devtools:install_github , i also need to run devtools::install_github('grimbough/Rhdf5lib') to get the latest Rhdf5lib.
However i get stuck again in the same erro

[2018-03-02 16:07] lgatto commented on #148
What `gcc` version are you using. I'm still stuck with an old ubuntu/gcc, but  there have been reports of issues with up-to-date systems.

[2018-03-02 16:12] Ru13en commented on #148
This version:
https://pkgs.alpinelinux.org/package/v3.7/main/x86/gcc

[2018-03-02 17:58] Ru13en commented on #148
I can say that the package runs this command:

g++ -std=gnu++11 -I/usr/include/R -DNDEBUG -I./boost_aux/ -I./boost/ -I. -D_LARGEFILE_SOURCE -DHAVE_PWIZ_MZML_LIB -D_NODEBUG -DWITHOUT_MZ5   `nc-config --cflags || /bin/true`   -I"/usr/lib/R/library/Rcpp/include" -I"/usr/lib/R/library/zlibbioc/include" -Os -fomit-frame-pointer   -fpic  -Os -fomit-frame-pointer -D__MUSL__ -c pwiz/data/msdata/BinaryData

[2018-03-07 16:50] Ru13en commented on #148
Hi,
I've found the solution for this issue, please check #149.
Best regards

[2018-03-07 19:36] #148 closed

[2018-03-21 07:20] jotsetung opened #151 "Fix writing of non-valid mzML files"
The mzML files currently written using mzR/proteowizard are not valid according to the OpenMS `XMLValidator`.

Will check and fix.

[2018-03-21 07:53] jotsetung commented on #151
Things to fix (applies to both `writeMSData` and `copyWriteMSData`:
+ [ ] empty content for `sourceFile` not allowed: if no source files are provided, the element should not be written (i.e. `<sourceFileList count="0">` is not allowed).
+ [ ] `cvRef="??"` is not allowed - that's the default in proteowizard for *unknown*. In case, just don't write any cv param if it is unknown.
+ [ ] `defaultDataPr

[2018-03-21 08:31] jotsetung commented on #151
Example code used for the validation of the mzML format (note that using `copyWriteMSData` the `sourceFileList` is correctly added).
[code]

[2018-03-21 09:16] sneumann commented on #151
The OpenMS `FileInfo -in mzML-input-copyWriteMSData.mzML -v` complains about
several things. XML File fixing in this case requires:
[code]

After fixing some of the XML structure, the semantic validation fails with:
[code]

An HTML file of the mapping file can be created with `CVInspector -cv_files CV/psi-ms.obo CV/unit.obo CV/goslim_goa.obo -cv_names MS UO GO -mapping_file MAPPING/ms-mapping.xml

[2018-03-21 18:12] sneumann commented on #151
Here are some `sed` expressions to fix across all spectra
[code]
Plus some manual editing, the file `mzML-input-copyWriteMSData-fixed.mzML`
in the directory created in https://github.com/sneumann/xcms/issues/268#issuecomment-374565378
validates fine.

[2018-03-22 07:02] jotsetung commented on #151
I'd say we fix first the validity check and then the semantic checks.

Question @sneumann, to fix the `<index name="chromatogram">` I need to change code in proteowizard's `Serializer_mzML.cpp`. What is the best approach there to make this permanent? Fixing it in the currently included proteowizard code would be gone next time an updated proteowizard is included.

[2018-03-22 07:29] sneumann commented on #151
Let's fix locally first, and submit the patch upstream. Since we have the Validation output
of pwiz generating non-validating mzML, acceptance should be straightforward.

[2018-03-22 13:55] lgatto opened #152 "mzR 2.13.5 on macOS"
From Prof Ridley

[code]
@jotsetung given that you use a Mac, could you help with this?

[2018-03-22 15:10] lgatto commented on #152
@sneumann
I see that you changed
[code]
in b80c41b95a0b6ea73c97611c74f78d256cb3b516 with commit message
[code]
Do we need `-L/opt/lib/hdf5-18/lib/ `? Is this the source of the error above?

[2018-03-22 15:29] lgatto commented on #152
@jotsetung - could you try to compile branch `issue_152` on you mac and report back. I have the feeling I'm reverting back @sneumann's b80c41b95a0b6ea73c97611c74f78d256cb3b516 here.

[2018-03-22 17:41] jotsetung commented on #152
I'll test it on macos.

[2018-03-22 20:17] jotsetung commented on #152
I can build and install both branch `issue_152` as well as `master` on macOS. I guess that might be due to the different `llvm/clang` version. I'm building my R using Xcode and have
[code]
I just compiled and tested using the R-devel from today:
[code]
my netcdf is from `macports`: `/usr/local/Cellar/netcdf/4.6.0/lib` and it also has hdf5
[code]

I'll try it with the pre-build binary and/or compil

[2018-03-22 20:53] jotsetung commented on #152
I was able to build and compile the `mzR` master branch without problems also on a pre-built binary R for macOS:
[code]

[2018-03-22 22:00] sneumann commented on #152
Could you post the link line of your installation ? See above in https://github.com/sneumann/mzR/issues/152#issuecomment-375353534 for some guess why it failled for Prof. Ripley. How many HDF5's do you have ?

[2018-03-23 06:44] jotsetung commented on #152
It also works if I installed R using llvm6. The requested link line (I hope that's it what you needed):
[code]
I have an hdf5 in `/usr/local/Cellar/hdf5/1.10.1_2/` (which seems not to get picked up by R because it's not linked to `/usr/local/lib`) and one seems to be included in netcdf - and obviously I have the `Rhdf5lib`.

[2018-03-23 07:40] sneumann commented on #152
So the important bit is
[code]
So just as the problematic linking above you have `libhdf5_cpp.a libhdf5.a` from `Rhdf5lib`
plus `-lhdf5_hl -lhdf5` from `ncconfig --libs`. Hm. no clue yet.

[2018-03-23 07:44] jotsetung commented on #152
And I have also `libhdf5_cpp.a` and `libhdf5.a` in `/usr/local/lib`, which does not get picked up by `R` - although R knows about `/usr/local/lib`, because in `libR.pc` I have `Libs:  -L/usr/local/opt/llvm/lib -L/usr/local/lib -L${rlibdir} -lR`.

And if this is a problem with multiple hdf5 installation, why should it only affect macOS? Should be the same problem on linux with multiple hdf5s.

[2018-03-23 07:49] sneumann commented on #152
Here the manual visual alignment and comparison:
[code]

[2018-03-26 15:32] sneumann commented on #152
Dear Prof. Ripley,

thanks for the notification on this build failure.
We've been tracking the issue
at https://github.com/sneumann/mzR/issues/152

The HDF is indeed coming in twice, once through the Rhdf5lib,
and again through netcdf via the flags returned by nc-config --libs
at https://github.com/sneumann/mzR/blob/master/src/Makevars#L121

The "not searching properly" is only an issue if nc-conf

[2018-03-26 15:36] sneumann commented on #152
On 26/03/2018 16:32, Neumann, Steffen wrote:

nc-config is on the path ....

 From the sources of hdf5-1.10.0-patch1, with

./configure --prefix=/usr/local --enable-static --disable-shared
--enable-cxx CC=clang CXX=clang++ CFLAGS=-O2 CXXFLAGS=-O2

6.0.0 (the only release of clang6!)

--
Brian D. Ripley,                  ripley@stats.ox.ac.uk
Emeritus Professor of Applied Statistics, University of

[2018-03-27 08:26] jotsetung commented on #152
OK, installed `hdf5-1.10.0-patch1` with:
[code]

And R with:
[code]
Install required packages for `mzR`:
[code]

And installing the master branch from github (version 2.13.6) using `/Users/jo/R/test/bin/R CMD INSTALL mzR_2.13.6.tar.gz` succeeds. It does not pick up the HDF5 library/includes that are in `/usr/local/lib` and `/usr/local/include`. Also installing 2.13.5 using `BiocInstaller::biocLite

[2018-03-28 10:39] jotsetung commented on #151
OK, with https://github.com/HUPO-PSI/psi-ms-CV/releases/tag/v4.1.2 we have now a CV Term ID for `mzR` (MS:1002869), `MSnbase` (MS:1002870) and `CAMERA` (MS:1002871) (thanks @sneumann for requesting that).

Problem is these are not yet known to proteowizard (for sure not in the proteowizard code that is included in `mzR`), so providing them results in an error:
[code]

An immediate solution would b

[2018-03-28 10:42] sneumann commented on #151
Hi, pwiz code in mzR is updated when needed. E.g. when it is too old for current compilers.
Hacking them into `cv.hpp` is a usable option. Yours, Steffen

[2018-03-28 16:25] lgatto commented on #151
If a latest pwiz code base has the new CV terms, it might be worth considering an update, rather then hacking them into old `cv.hpp`. What do you think?

[2018-03-28 17:03] jotsetung commented on #151
I guess we might have to wait a little for the proteowizard that includes the most recent obo - I don't know how frequently the guys update the `cv.hpp` and `cv.cpp`. In any rate - I've hacked the files in commit https://github.com/jotsetung/mzR/commit/1f0ec320da4448d5092b99922bc063f813782423 to have an immediate solution (that can also be thoroughly tested prior to the BioC release).

[2018-03-29 10:59] jotsetung commented on #151
I'm closing this issue now. Note that, while we write now valid `mzML` files with `writeMSData`, we might still end up with non-valid `mzML` files using `copyWriteMSData`, if the original file is not valid.

[2018-03-29 10:59] #151 closed

[2018-03-29 12:17] sneumann commented on #151
Pushed as 2.13.6 to both upstream and origin. Yours, Steffen

[2018-04-03 07:41] mtmorgan commented on #152
It's difficult to follow in detail but can you replace all calls to `nc-config` with the corresponding calls to Rhdf5lib, so that you only ever use one version of hdf5lib ? Alternatively allowing nc-config to be used in Rhdf5lib, which might require changes in Rhdf5lib...

[2018-04-03 07:55] sneumann commented on #152
Hi Martin, thanks for chiming in.
An issue is that Rhdf5lib is lacking the netCDF library. I already though of removing the hdf5 parts from the `ncconfig` with some replacing:
`nc-config --libs | sed -e 's/-lhdf5_hl//' | sed -e 's/-lhdf5//'`
to only use one version of HDF5 libs, but if the system netcdf was compiled with a different version of HDF5 we'd be out of luck.
I could try though, it works

[2018-04-07 00:03] everschueren commented on #100
I ran into the same problem and the solution outlined by Biospec in the post above worked for me. I understand the argument of trying to keep the src package light and not include the full boost headers but it would be great to either include that `boost/detail/fenv.hpp` file or provide an option to build against your local boost installation.

[2018-04-09 06:54] sneumann commented on #100
Hi, I have added `mzR/src/boost/boost/detail/fenv.hpp` now. If someone can confirm that it now works,
I'll bump version and release the new package. Sorry that it took so long, Yours, Steffen

[2018-04-09 18:42] everschueren commented on #100
Hi Steffen,

Thanks for the quick reply and the fix. The fix does work for me but I ran into another issue with the Rhdf5lib dependency not compiling, which forced me to hack/compile that one offline as well. I can't really confirm that it would work in a clean environment but in theory it should..

Cheers,
Erik

[2018-04-09 19:01] sneumann commented on #100
Did you possibly run into #152 ? That'd be great, as we have no way currently to reproduce that on any of our systems. Yours, Steffen

[2018-04-09 19:12] everschueren commented on #100
Hmm no it's a different issue, the lib actually seems to compile fines but can't be loaded during package testing.

`** testing if installed package can be loaded
Error: package or namespace load failed for ‘Rhdf5lib’ in dyn.load(file, DLLpath = DLLpath, ...):
 unable to load shared object '[...]/Rlib/3.4.3-Bioc-3.6-current/Rhdf5lib/libs/Rhdf5lib.so':
  [...]/Rlib/3.4.3-Bioc-3.6-current/Rhdf5lib/l

[2018-04-09 19:35] sneumann commented on #100
So that'd be an issue for https://github.com/grimbough/Rhdf5lib/issues Yours, Steffen

[2018-04-11 19:43] hillan141 opened #154 "mzR compilation failure on RHEL6 - missing boost/detail/fenv.hpp"
Hi maintainer(s),

Thanks for providing this mzR package.  On Red Hat Enterprise Linux 6, R 3.4.4, I find compilation fails with error message suggesting missing boost header.  Transcript of failed install below.  Can you assist?

Best,
Andrew.

[code]

[2018-04-12 05:46] sneumann commented on #154
Hi, this looks like a duplicate of #100, which is fixed in the github version.
You can get the package from here, or the fix will be in the next version we push to bioconductor.
Yours, Steffen

[2018-04-12 05:46] #154 closed

[2018-04-13 18:35] vladpetyuk opened #155 "Extracting additional terms from SpectrumIdentificationResult"
The problem is accurate extraction of scan numbers. Sometimes they are stored in the `spectrumID` attribute of the `SpectrumIdentificationResult` element and can be extracted by finding "scan=" substring. However, not all spectrum id formats list "scan=". See page 10 [here](http://www.psidev.info/files/mzIdentML1.0.0.pdf). Alternative is to look into `MS:1001115` term. Example is below. It looks,

[2018-04-13 18:54] lgatto commented on #155
Quick 2 cents (and I'll look into this a bit more later), but I think it would be good for `mzR` (and `MSnbase`) to gather as many useful CV params into the respective headers and feature data slots as possible.

[2018-04-16 07:44] hyystvar opened #156 "install error"
when I install package 'mzR' on my ubuntu system, I get an error and do not know how to deal with it.
The error writes below.
Error: package or namespace load failed for ‘mzR’ in .doLoadActions(where, attach):
 error in load action .__A__.1 for package mzR: loadModule(module = "Ramp", what = TRUE, env = ns, loadNow = TRUE): Unable to load module "Ramp": cannot allocate vector of size 704787.4 Gb
E

[2018-04-16 07:56] jotsetung commented on #156
This is a very strange error message. Could you please paste the output of `sessionInfo()` on your system and the code you used to install `mzR`?

[2018-04-16 08:04] hyystvar commented on #156
R version 3.4.4 (2018-03-15)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 17.10

Matrix products: default
BLAS: /usr/lib/x86_64-linux-gnu/blas/libblas.so.3.7.1
LAPACK: /usr/lib/x86_64-linux-gnu/lapack/liblapack.so.3.7.1

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C               LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en

[2018-04-16 08:14] jotsetung commented on #156
You could try to update all outdated packages first and then try installing again... just a guess.
[code]

[2018-04-16 08:28] hyystvar commented on #156
I have done as you say,but I get the same error.

[2018-04-16 08:43] jotsetung commented on #156
I honestly have no solution at present. I would need to install Ubuntu myself, but even then I might not be able to reproduce (if this is due some specific settings/compiler options etc.).

As an immediate hack, you could clone the repo, comment out the line `loadModule("Ramp", TRUE)` in *R/zzz.R* and *R/zzz.R.in* and build and install the package using `R CMD build mzR` and `R CMD INSTALL mzR_*.t

[2018-04-16 11:26] tsufz opened #157 "Merged ID in writeMSData"
Hi Steffen,
Is there any reason why the controllerType controllerType and the scan# is merged in one ID by writeMSData?

Yours
Tobias

R version 3.4.4 (2018-03-15)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows Server >= 2012 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252    LC_MONETARY=English_Un

[2018-04-16 11:49] jotsetung commented on #157
Dear Tobias,

I'm the culprit for problems in `writeMSData`. The spectrum ID that is saved is either what is provided in column `"spectrumId"` of the `data.frame` passed with the `header` parameter or, if that is not defined, it is set to `"scan="<acquisition number>`. We are relying on proteowizard for the mzML export, this means that we're setting this provided ID as the ID of a proteowizard's `

[2018-04-16 15:28] tsufz commented on #157
Hi, okay, maybe it is a MSnbase related problem. I will check. TXS

[2018-04-16 15:47] sneumann commented on #157
Hi, Can you give input, code snippet and output? Does it happen with any of the public data,  e.g. From msdata package?  Yours, Steffen

---
I blame Android for the brevity and typos

[2018-04-17 08:12] tsufz commented on #157
Hi, The input mzML after pwiz export seams to be OK. The fields are separated.

The code for file import is:
`MSFILE <- MSnbase::readMSData(file.path(dir_in,files[i]),msLevel. = NULL, mode = "onDisk")`.

The code for file export is:
`MSnbase::writeMSData(MSFILE,file.path(dir_out,files[i]),outformat="mzml")`

There is no change wheather I set `msLevel. = 1` or `msLevel. = 2` if the `mode` is set to

[2018-04-17 09:05] lgatto commented on #157
Thank you for your constructive feedback. If you have time to contribute, please open an issue in `MSnbase` so that we can discuss further.

As for the problem at hand, could you share one file so that we can inspect exactly how the input looks like, how the data is imported, and eventually serialised to disk.

[2018-04-17 10:13] jotsetung commented on #157
`inMem` and `onDisk` data is differently represented. `inMem` stores the data into `Spectrum` objects while `onDisk` contain only the spectrum header (i.e. what is returned by `mzR::header`). Now, `Spectrum` objects don't have an ID field/attribute, that's why for `inMem` the ID of the spectrum has to be upon export artificially created.

The only solution I see here is that `inMem` (i.e. the `MSn

[2018-04-19 13:13] tsufz commented on #157
This is an intersting point. Actually `msconvert ` does not export this way. I use the `mscovert.exe` in version `3.0.11781` with the settings `--mzML --64 --zlib --filter "peakPicking vendor" --filter "msLevel 1"`. The result are three separated fields. The `Scan`field is an `integer` and not `scan = scanNumber`.

Thus, the settings above are obviously not compliant with pwiz? Or is this related

[2018-05-03 22:12] trljcl opened #159 "copyWriteMSdata() dropping CV terms"
Hello,
I am having problems using copyWriteMSdata (to manipulate peak data), from mzML files that have originated from an Orbitrap Fusion.  I am using  mzR_2.12.0.  Specifically, certain CV fields are being dropped that are required for downstream processes:

1) drops MS:1000512, which prevents "activation" being a usable filter when using msconvert to generate activation type -filtered output fil

[2018-05-03 22:13] trljcl commented on #159
<?xml version="1.0" encoding="utf-8"?>
<indexedmzML xmlns="http://psi.hupo.org/ms/mzml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://psi.hupo.org/ms/mzml http://psidev.info/files/ms/mzML/xsd/mzML1.1.2_idx.xsd">
  <mzML xmlns="http://psi.hupo.org/ms/mzml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://psi.hupo.org/ms/mzml http://

[2018-05-04 05:42] jotsetung commented on #159
The `copyWriteMSdata` does *only* copy general information (source file etc), but does not copy all fields from the spectras' headers. At present only the fields that are returned as columns in `mzR::header` are saved/exported to the mzML.

In order to save these values we would have to add additional columns to the header - which is not a big problem, but we have to know which. Apart from `MS:100

[2018-05-04 06:34] trljcl commented on #159
Hi Johannes,
For now, adding those two CV terms are all I need.  But would it not be
better to dynamically scrape all CV term metadata from the source mzML file
to be returned as separate columns in the header() function?  This would
future-proof copyWriteMSData() for vendor or mzML updates where new terms
are introduced?

I'm slightly confused by the copyWriteMSData()  functionally, especially
wh

[2018-05-04 07:08] jotsetung commented on #159
Dynamically scraping CV terms would be the ideal solution indeed - I'll have to check if and how that can be done. For now I will add the two CV parameters you suggested.

Regarding the difference between `copyWriteMSData` and `writeMSData`, probably the documentation was not clear on that. We just copy general metadata over. For spectra, only the data passed with the `header` parameter is saved.

[2018-05-04 08:49] jotsetung commented on #159
Note that more recent `mzR` versions do return the MS_filter_string in the `"filterString"` header column. Also, there have been some fixes to ensure that the exported mzML file is valid and can be opened with other software too. To use the newer `mzR` version you should update to R version 3.5 and related Bioconductor 3.7 (just released this Tuesday).

Regarding MS_isolation_window_target_m_z, th

[2018-05-04 09:00] trljcl commented on #159
OK, thanks - just updated to latest R and mzR versions - will test and get
back to you.

Also, in case I want to do any future installs from github rather than
bioconductor, I note github_install() fails because of:

In file included from rnetCDF.c:2:0:
rnetCDF.h:1:20: fatal error: netcdf.h: No such file or directory

I note that this is probably because I am building on windows using Rtools
(a ne

[2018-05-04 09:08] jotsetung commented on #159
You'll need to install the NetCDF library on Windows. Then `github_install` *should* work

[2018-05-04 09:46] trljcl commented on #159
any advice on how to do this?  I don't think it's straightforward for
windows when looking at  https://www.unidata.ucar.edu

On 4 May 2018 at 10:08, Johannes Rainer <notifications@github.com> wrote:

--
Dr. Tony R. Larson
Head of Metabolomics & Proteomics, Department of Biology, Area 15
University of York
Wentworth Way
Heslington
York YO10 5DD
UK

Tel: +44(0)1904 328 733 (office)
Tel: +44(0)7833 4

[2018-05-04 10:34] trljcl commented on #159
OK, just tested with R 3.5.0 and mzR 2.14.0.  All works fine now; i.e.
openMSfile() and header() now include the extra fields, and subsequently
copyWriteMSdata() results in a  new .mzML file where the precursor mass  is
correctly parsed into .ms2 files by msconvert, and downstream activation
type scan filtering in msconvert now works (e.g. by CID or HCD).  Nothing
else needed for now!

thanks
Tony

[2018-05-04 13:38] trljcl commented on #159
sorry, jumped the gun.  In my previous post I had actually run the msconvert mzML to ms2 conversions using the mzML file generated from the original raw file using msconvert! There are now more problems with msconvert handling copyWriteMSdata() processed data.  I've attached some toy files to demonstrate.  Note msconvert was 3.0.18114.  Files are: toy.mzML = file from msconvert raw to mzML; scans

[2018-05-04 14:05] gabrielctn opened #160 "instrumentInfo() function has problems with netCDF files"
Hi,
There seem to be a bug with the function instrumentInfo() on netCDF files, the **model** and **manufacturer** elements are not retrieved properly, it gives some kind of binary.
Here is a snippet of code and a [netCDF file](https://github.com/sneumann/mzR/files/1974595/C24.I.ESI.Blank.zip) (from Metabolights study MTBLS117) to reproduce the error.

[code]

Which gives:

![image](https://user-im

[2018-05-04 14:12] gabrielctn opened #161 "openMSfile should recognize file extension automatically for backend API"
Hi,
shouldn't the function `openMSfile()` recognize automatically the mz file extension so that we don't need to specify the backend to use ?
As for now something like this is necessary to take care of different cases:
[code]

[2018-05-04 16:48] lgatto commented on #161
`openMSfile` does match the backend to the file extension - see [here](https://github.com/sneumann/mzR/blob/master/R/io.R#L11-L12):

[code]

[which](https://github.com/sneumann/mzR/blob/master/R/io.R#L64-L76) then

[code]
If this doesn't happen for you, could you report the output of `sessionInfo()`.

[2018-05-04 21:49] gabrielctn commented on #161
Oh, I see, well this snippet does me this error, with a mzData or cdf file, but it works fine with the default backend which take care of mzML and mzXML.
[code]

my sessionInfo():
[code]

[2018-05-05 12:59] gabrielctn commented on #161
I looked out when the code you showed was added and indeed I don't have the latest version of mzR, I'm still with version 2.12.0, so I will do all the updates and everything should be fine. Thanks !

[2018-05-05 14:02] lgatto commented on #161
Great, thanks. I am closing this issue, but do re-open it if necessary.

[2018-05-05 14:02] #161 closed

[2018-05-07 04:15] jotsetung commented on #159
Hi Tony,

thanks for the toy examples. I had a look at the mzML-produced output and to me it seems the only obvious difference is the lack of the CV terms MS:1000500 and MS:1000501 and that it does not contain the TIC chromatogram. I can add the two CV terms and you can check if that eventually fixes the problem you've seen.

Regarding MS:1002869, that's the new CV term for the mzR package. It has

[2018-05-07 10:00] jotsetung commented on #159
Can you please test if adding the scan windows fixes your problem? If so I will make a pull request against `sneumann/mzR`.

To install please use `install_github("jotsetung/mzR", ref = "scanWindow")`.

[2018-05-08 07:56] trljcl commented on #159
No, it doesn't, sorry!

On 7 May 2018 at 11:00, Johannes Rainer <notifications@github.com> wrote:

--
Dr. Tony R. Larson
Head of Metabolomics & Proteomics, Department of Biology, Area 15
University of York
Wentworth Way
Heslington
York YO10 5DD
UK

Tel: +44(0)1904 328 733 (office)
Tel: +44(0)7833 471 685 (mobile)

tony.larson@york.ac.uk
http://scholar.google.com/citations?user=9hLFka4AAAAJ
www.yor

[2018-05-14 16:25] sneumann opened #163 "readMSData fails on mzML file with only <chromatogram>s"
Hi,
I have an mzML file with just a `<chromatogramList>` but no `<spectrumList>`,
where MSnbase/mzR fail reading spectrum headers. Yours, Steffen

[code]

[2018-05-15 07:38] jotsetung commented on #163
Note: to read chromatogram data you should use the `chromatogramHeader` and the `chromatogram` functions.

[2018-05-15 07:39] jotsetung commented on #163
And/or the `readSRMData` from `MSnbase`.

[2018-05-15 08:28] lgatto commented on #163
`readMSData` shouldn't fail so badly when there's no spectra though. @sneumann, could you share that file, or any file with chromatograms only, so that we can test for this.

[2018-05-15 11:33] sneumann commented on #163
Here is that file, I had to ask for permission first. Yours, Steffen

[2018-05-16 07:59] jotsetung opened #164 "Add .hasChromatograms"
Add a function `.hasChromatograms` returning `TRUE` if chromatographic data is available in the file. This is related to issue #163.

[2018-05-16 09:42] lgatto commented on #163
Ok, this is fixed in the latest version of `MSnbase` available on github at `https://github.com/lgatto/MSnbase/`, which depends on the latest `mzR` from github. Instead of this ugly error, it will return a warning and an empty object.

[code]
This also work when multiple files are read, but some don't have any spectra. There will be more improvements, telling the user that there's chromatographic

[2018-05-16 09:42] #163 closed

[2018-05-16 23:16] lgatto commented on #164
`mzR:::.hasChromatograms` works on the following examples

[code]
But here, on this older file
[code]
Not sure if that's an issue with all `mzXML` files or only this old one, but this should ideally get caught. @jotsetung, could you have a look?

[2018-05-17 06:17] jotsetung commented on #164
It's fixed in PR https://github.com/sneumann/mzR/pull/166 :

[code]

[2018-05-17 11:57] jotsetung commented on #164
Done in PR https://github.com/sneumann/mzR/pull/167 :
[code]

[2018-05-22 07:56] sneumann commented on #160
Apparently the files like
ftp://ftp.ebi.ac.uk/pub/databases/metabolights/studies/public/MTBLS117/C48%20III%20ESI+.cdf
have broken/encoded `instrument_name`, so nothing one can do automagically:
[code]
Sorry, Steffen

[2018-05-22 07:56] #160 closed

[2018-05-26 19:04] lgatto opened #168 "Better handling of mzid files"
This issue is related to #136, which happens due to a but in the C++ `RcppIndent::getScores()` function, that counts the number of cvParams on the first `SpectrumIdentificationItem`, but then crashes if a later one has more. For example

[code]
and then there are additional cvParams before the closing `SpectrumIdentificationResult`, which get also counted.
[code]

But more generally, it also assum

[2018-05-26 20:56] #136 closed

[2018-06-01 13:10] blosloos opened #169 "isolationWindow"
Dear Steffen - thanks for the mzR package and its maintenance; it makes mass spec file handling quite convenient. I just stumbled over a smaller issue and am wondering whether I am doing sth wrong here or not. When trying to extract the mass isolation window of MS2 scans from various .mzXML files, I get an empty matrix, regardless of the settings for the function parameters `unique. `or `simplify`

[2018-06-01 13:52] sneumann commented on #169
Hi, quick shot while walking, does the same happen if you convert to mzML?

---
I blame Android for the brevity and typos

[2018-06-01 14:05] lgatto commented on #169
The isolation window accessor searches for cv parameters `MS:1000828` (low) and `MS:1000829` (high). As @sneumann mentions, these might not be available in `mzXML` files. They certainly aren't present in the excerpt you show above.

You could check that things work as expected on a test data (`mzML` in this case) with the following:
[code]
and, to confirm that you have a recent version:
[code]

[2018-06-01 14:35] blosloos commented on #169
Thank you both for your super-fast replies. Yes, I can extract the `isolationWindow(x) ` when converting the concerned files from `mzXML` to `mzML`. For the former format, the precursor mass selection window is saved as tag `windowWideness` and as `cvParam values` for the latter format.

As it seems, `mzR` reads the `isolationWindow(x) ` for `mzML` files only?